[2015-02-25 02:22] rhiokim commented on #473
@coiby This is Haroopad issue. It'll be fixed with next release (v0.13.1).
In addition, I recommend that upgrade your ubuntu.

`sudo apt-get dist-upgrade`

@davegomez Thanks for the tip.

[2015-02-25 02:23] rhiokim commented on #460
이 문제는 곧 출시될 버젼에서 해결될 예정입니다.

[2015-02-25 02:23] #460 closed, assigned to rhiokim

[2015-02-25 02:24] rhiokim commented on #459
Sorry late. v0.13.1 release soon. Please wait more.

[2015-02-25 02:24] #459 closed, assigned to rhiokim

[2015-02-25 02:29] rhiokim commented on #453
@prashrock Thank you very much for your reporting.
I'll have plan to spend more time in order to improve this problem.

[2015-02-25 02:37] rhiokim commented on #464
Haroopad v0.13.x already supports High-DPI.

based on Node-webkit v0.11.5, test screen shot - https://www.flickr.com/photos/129626304@N03/16170097405/

[2015-02-25 02:42] rhiokim commented on #465
@spillej Yep it's the bug. @a1880 thanks.
It'll be fixed with upcoming version.

[2015-02-25 02:42] #465 closed, assigned to rhiokim

[2015-02-25 02:43] rhiokim commented on #466
You can get more detail information about this request https://github.com/rhiokim/haroopad/issues/422

[2015-02-25 02:43] #466 closed, assigned to nobody

[2015-02-25 02:49] rhiokim commented on #470
@niklasfrykholm Thanks for the reporting.

[2015-02-25 02:52] rhiokim commented on #476
duplicated https://github.com/rhiokim/haroopad/issues/447

[2015-02-25 02:52] #476 closed, assigned to rhiokim

[2015-02-25 07:47] victorel-petrovich opened #477 "install on chromebook"
### Hi,

I tried to install Haroopad on my chromebook, by loading the unpacked extension, in `chrome://extensions/` page, but it gave error:

[code]

Can that be fixed? ...

[2015-02-25 10:57] cefn commented on #447
Hi again. Just thought I should note a workaround. If you type your text containing 6 on a new line, or in a different text editor, you can paste it in, without triggering the bug. It's only typing events (hitting the 6 key when the Haroopad window is your focus window) which seems to trigger this.

[2015-02-25 11:04] cefn commented on #440
See also https://bugs.launchpad.net/ubuntu/+bug/1351626

[2015-02-25 11:29] rhiokim commented on #472
You can download old version - http://pad.haroopress.com/page.html?f=release-notes
I knew this issue. it's my mistake :-( I'll fix it soon.

[2015-02-25 11:33] rhiokim commented on #474
link https://github.com/rhiokim/haroopad/issues/147

[2015-02-25 11:36] rhiokim commented on #473
related #471

[2015-02-25 11:42] rhiokim commented on #467
#463

[2015-02-25 12:37] rhiokim commented on #463
It'll be fixed with upcoming version.

[2015-02-25 12:37] #463 closed, assigned to rhiokim

[2015-02-25 13:47] mcdoyaji opened #478 "weired response when `ctrl+2` then number `6`"
when i input `ctrl+2` and then input number ends 6 .

(6... 16...)

`##` automaticaly increase `######`

i'm using haroopad v0.13.0

below is screenshot.

![number6response](https://cloud.githubusercontent.com/assets/11155414/6371543/2fee012a-bd40-11e4-9023-781a4239738b.png)

[2015-02-27 22:04] coiby commented on #473
@rhiokim I did as you recommened. But I didn't notice any change. Only a few packages about cups are updated. Can you tell me why doing `apt-get dist-upgrade`? Thanks!

[2015-02-28 16:06] prashrock opened #479 "Restoring files -- disable feature"
Hi Kim,
Can you please provide an option to disable file restoring. Haroopad takes a long time to start across 3 platforms (Mac, Ubuntu 14.04, Windows 7) just because its trying to restore a bunch of old files. It would be great if you could give me an option to start Haroopad without restoring any previous files...
Thanks,
-Prashanth.

[2015-03-04 10:16] Cathryne opened #480 "align check boxes in task lists with bullet points of regular lists"
The indentation of 2nd (and following) text rows is incoherent between regular and tasks lists, because check boxes don't align with bullet points.

![haroopad-task-list-indent](https://cloud.githubusercontent.com/assets/757323/6481603/42aebdd0-c25f-11e4-98ae-7215c6f7d3f4.png)

In GitHub's own Markdown, it's coherent:
- regular
- [ ] task
- also for very loooooooooooooooooooooooooooooooooooooooooo

[2015-03-04 21:36] jconley opened #481 "headerless table support"
For your consideration, allowing tables with no headers.  Perhaps best to require the header notation for compatibility; if there is zero content, render it without a header.
Some [others' comments](https://stackoverflow.com/questions/17536216/create-table-without-header-in-markdown)

|  |  |
| --- | --- |
| x | y |

[2015-03-05 09:57] meteormatt commented on #458
Same on Windows 7

[2015-03-06 17:33] FunnyDewd opened #482 "Haroopad Mac crashes behind Corporate firewall"
Hi there,

When trying to use Haroopad behind the firewall, the popup displays to authenticate for the proxy, the application crashes no matter what I do. Whether I try to log in or not, I get a crash.

Also, from time to time, I'll get multiple popups to log onto the proxy when I start. Ultimately when I try closing them, the app crashes.

Thanks!

[2015-03-07 18:34] sebelk opened #483 "Mermaid rendering is not complete"
Hi folks,
I've seen that some mermaid code is not rendered at all by haroopad, for example the following example:

[code]

It doesn't work, but with mermaid cli does it:

![Example mermaid link with text](https://cloud.githubusercontent.com/assets/4109256/6542692/54de068c-c4df-11e4-880d-a2a8594eb0ff.png)

Any ideas?

[2015-03-10 03:58] #470 closed, assigned to rhiokim

[2015-03-10 03:59] #467 closed, assigned to rhiokim

[2015-03-10 04:00] rhiokim commented on #458
It'll be fixed with upcoming version

[2015-03-10 04:00] #458 closed, assigned to rhiokim

[2015-03-10 04:00] rhiokim commented on #471
@technic Thanks for the reporting.
It'll be fixed with next release version.

[2015-03-10 04:00] #471 closed, assigned to rhiokim

[2015-03-10 04:06] rhiokim commented on #479
@prashrock Do you want this?
`Preferences > General > checkbox Enable Last File Restore`

[2015-03-10 04:06] #479 closed, assigned to nobody

[2015-03-10 04:08] rhiokim commented on #478
duplicated #447

[2015-03-10 04:08] #478 closed, assigned to nobody

[2015-03-10 04:18] #464 closed, assigned to nobody

[2015-03-10 04:28] rhiokim commented on #480
Thanks idea. :-)
It'll be improved in the next version

[2015-03-10 04:29] rhiokim commented on #457
Thanks for the reporting :-)
It'll be fixed with next release. v0.13.1

[2015-03-10 04:29] #457 closed, assigned to rhiokim

[2015-03-10 16:19] prashrock commented on #453
Thanks a lot Kim. I find Haroopad very convenient to maintain and export markdown based documents. Currently, more than features, I think Haroopad needs to be stable across platforms. This implies avoiding the following:
1) When the application is closed, the process should quit. Currently, I do not see this behavior on either Windows 7 or Ubuntu 14.04.
2) On Windows 7, Haroopad keeps growing in i

[2015-03-10 16:20] prashrock commented on #479
Sure, sounds good. Thanks !

[2015-03-10 18:33] arcr-dev commented on #447
A simple workaround. Type 6 twice and delete the last one.

[2015-03-10 20:23] arcr-dev opened #484 "Bad HTML export of [TOC] on Windows"
[TOC]
...

exports to

[code]

when it should be

[code]

but this would not work either, because chrome doesn't accept other html elements inside p

so it should be

[code]

and the style should be div.toc instead of p.toc

[2015-03-11 00:11] Ale46 opened #485 "Text color problem with menu bar"
As you can see in these two screenshots the text for the menu bar is barely readable. Is it possibile to implement something to choose a custom color for the menu bar\menu text to avoid the problem?
![screenshot-window-2015-03-11-010332](https://cloud.githubusercontent.com/assets/194613/6587926/083562b8-c78b-11e4-8a8d-9d324555e764.png)
![screenshot-window-2015-03-11-010343](https://cloud.githubuse

[2015-03-14 09:06] thewashingtonhua opened #486 "Can I have a multi-language switch option"
Seems that haroopad set the language automatically according to the system language. But you know, some translations just don't feel right. Wanna switch to the English version but didn't find any related option.

[2015-03-14 09:22] thewashingtonhua opened #487 "When can I visit the site in English"
Sorry dude. but I don't know Korean. So I'm really having problem reading the reference guide part on your site. Wanna use the awesome feature of haroopad but got stuck by language problem.

[2015-03-15 17:29] rhiokim commented on #483
New version is out. v0.13.1
Could please check this issue.

[2015-03-15 18:59] rhiokim commented on #473
This new version has been released. v0.13.1

@coiby nw.js requires a few latest module on ubuntu. And Haroopad is based on the nw.js.

[2015-03-15 18:59] #473 closed, assigned to rhiokim

[2015-03-15 20:30] coiby commented on #473
Congratulations! And thank you!

[2015-03-16 11:23] da-z commented on #483
Hi. I installed `v0.13.1`. Just like `v0.13.0`, syntax highlight and mermaid rendering is not happening by default. Both are related to a sort of fenced code block processing I think.

I have found a workaround in which I have to go to File -> Preferences -> Markdown and click 'Apply'. Now syntax highlighting and mermaid rendering works in the preview pane, until I close the program.

[2015-03-16 11:40] da-z commented on #387
I have found a workaround in which I have to go to File -> Preferences -> Markdown and click 'Apply'. Now syntax highlighting and mermaid rendering works in the preview pane, until I close the program.

[2015-03-17 06:25] rhiokim commented on #450
New version is out. v0.13.1
Could you please check this issue.

[2015-03-17 06:26] rhiokim commented on #461
New version is out. v0.13.1
Could you please check this issue.

[2015-03-17 06:29] rhiokim commented on #443
New version is out. v0.13.1
Could you please check this issue.

[2015-03-18 03:44] rhiokim commented on #456
@ju2wheels Thanks for the reporting. it'll be fixed with next release.

[2015-03-18 05:28] rhiokim commented on #468
Does v0.13.1 works well for you?

It's working perfectly for me.
![modified-status](https://cloud.githubusercontent.com/assets/145777/6703161/82291bd8-cd7a-11e4-883f-d1d2983363fd.gif)

[2015-03-18 07:32] youxiachai commented on #443
@rhiokim x64 version editor window not show , but preview windows show

here is capture
![a642](https://cloud.githubusercontent.com/assets/929502/6704456/fc3fb766-cd83-11e4-805c-b79fa8dc2487.png)

[2015-03-18 07:34] youxiachai commented on #443
also perference have bug
![a10](https://cloud.githubusercontent.com/assets/929502/6704473/2e2ea278-cd84-11e4-8050-3da233e0de84.png)

[2015-03-18 13:52] ssohjiro opened #488 "Can I use my external editor?"
I usually use the VIM editor.
The file opened by haroopad does not reflect by other external editor like a VIM Editor.
Plus, haroopad does not any alert that this file was modified.
( It may lost the modified contents from other editor )

I suggest the feature that always watch the file's modification and when file is updated, immediately refresh the file. I think this feature may replace 'vim key

[2015-03-18 15:31] Cathryne commented on #480
Neat solution, thank you :-)

[2015-03-18 15:55] rhiokim commented on #480
@Cathryne :-)

[2015-03-18 15:58] rhiokim commented on #488
리포팅 감사드립니다. :-)
해당 기능은 지원했던 기능인데 최근 큰 변경으로 기능이 제대로 동작하지 않네요.
다음 버젼에 반영될 수 있도록 하겠습니다.

[2015-03-19 04:29] rjollos commented on #461
The issue is resolved with 0.13.1. Thank you.

[2015-03-19 04:29] #461 closed, assigned to rhiokim

[2015-03-19 14:01] ldez opened #489 "Haroopad gui don't appear"
Haroopad 1.3.1 and Win7 64bits.

The process run but the gui don't appear.

With 1.3.0, it's works.

[2015-03-20 10:39] rhiokim commented on #199
구름 입력기 최신 버젼에서 수정되어 이슈 종료합니다.
입력기 개발자인 정윤원님께 심심한 감사를 전합니다. :-)

[2015-03-20 10:39] #199 closed, assigned to nobody

[2015-03-20 11:26] soomtong commented on #199
현재 버전 (구름 1.8.9c) 점검 확인 결과 말씀 드립니다.

각 줄의 첫 글자 조합에서만 문자가 안나오는 상태입니다. 입력기 조합이 완성되었다고 처리된 이후에 문자가 생성됩니다.

두번째 문자 다음으로는 정상적으로 출력됩니다.

![1st-char](https://cloud.githubusercontent.com/assets/906974/6750597/6a9186ec-cf3f-11e4-8eb3-5aaa628264f8.gif)

[2015-03-21 18:14] mtancoigne commented on #489
Hi, I got the same thing under win7 64bits. I updated to 1.3.1 under linux (kubuntu 14.10, up-to-date) with a fresh install and clean config (I removed ~/config/Haroopad).
When launched from console, I get this:

[code]

The process is still running, but nothing happens. By the way, I think I read an other similar issue in the list ( #450 )

0.13.0 worked like a charm, though (except the mermaid i

[2015-03-21 18:17] mtancoigne commented on #450
Seems that it's not fixed : #489 popped in for 0.13.1

[2015-03-23 08:18] yf2009017 commented on #450
Thanks for fixing, everything looks fine~~

[2015-03-23 11:08] hannesgredler opened #490 "Mermaid rendering broken"
Hi,

when i open below markdown file which contains two mermaid graphs, haroopad v 0.13.1 (Mac OSX) renders it just fine. As soon as i start editing the second mermaid graph (changing one line title) then the second
graph is not rendered at all
# Overview
# Table of contents

[TOC]
## Graph 1

[code]
## Graph 2

[code]

[2015-03-23 13:37] niklasfrykholm commented on #468
Yes, this works for me in v0.13.1.

[2015-03-23 13:37] #468 closed, assigned to rhiokim

[2015-03-24 06:53] zefredz commented on #489
I have the same issue on Ubuntu 14.04 64bits. In case this could help, I've found a workaround : if you download version 1.3.0 and replace the haroopad executable with the one from version 1.3.1, it works. So this could be an issue with one of the libraries shipped with version 1.3.1. But I don't know haroopad enough to be sure of it, so it could also be completely unrelated.

[2015-03-24 10:14] jeckel commented on #489
Same kind of problem.

When I try to start haroopad from command line I get this error :

I'm running on Linux Mint 64bits

[2015-03-26 00:24] jhoguet opened #491 "how to open haroopad to a specific file from the command line?"
Running OSX 10.9.5

I have tried

[code]

and

[code]

and haroopad opens, but it opens to a new file, not the path I passed in.

I see that CLI was added

but I don't see how to add `haroopad` to my profile

how do I open haroopad to a specific file from the command line?

thanks

[2015-03-26 00:49] rhiokim commented on #491
@jhoguet  try this.

`open -a "haroopad" --args -f ~/file.md`

and

`open -a "haroopad" --args /full-path/file.md`

[2015-03-27 14:21] chaosink opened #492 "Syntax highlighting of C and C++ needed..."
Excellent work !
Go for it !

[2015-03-29 14:30] jhoguet commented on #491
I figured out my issue, haroopad was already open.

To reproduce:

`open -a "haroopad" --args -f ~/file1.md`

file1.md will open

`open -a "haroopad" --args -f ~/file2.md`

haroopad will open and refocus to file1.md, file2.md will not be open.

Is there a way to make this work?

[2015-04-02 09:03] Jeremi360 opened #493 "haroopad can't see libnotify.so.4"
I had installed libnotify4 on my LinuxMint 17.1 64 it have libnotify.so.4 in /usr/lib/x86_64-linux-gnu, but haroopad keep saying:
/usr/share/haroopad/haroopad: error while loading shared libraries: libnotify.so.4: cannot open shared object file: No such file or directory

Before that i fix libudev.so.0 issue using:
sudo ln -sf /lib/x86_64-linux-gnu/libudev.so.1 /lib/x86_64-linux-gnu/libudev.so.0

[2015-04-06 07:45] rhiokim commented on #492
@chaosink This is exactly what you wanted?

<pre>
[code]
</pre>

![screen shot 2015-04-06 at 4 41 23 pm](https://cloud.githubusercontent.com/assets/145777/7001850/d1ea7bde-dc7b-11e4-9f51-e9e38a1c44ed.png)

[2015-04-08 04:22] rhiokim commented on #491
`open -a "Haroopad" ~/file1.md` :smile: ?

[2015-04-08 12:26] cefn opened #494 "Retain View=>Mode setting between launches"
I am using a separate pipeline to view my markdown, so I often don't have a role for the Haroopad preview. It's a bit frustrating to have to go to View=>Mode and change the mode from "Editor : Viewer" to just "Editor" every time I open a file or launch a new window. Can there be a Preferences setting to choose a default for the Mode, or perhaps change behaviour to load new window instances using t

[2015-04-09 06:21] MikhailBo commented on #490
Hi,

On Windows 8.1 behavior slightly different - when you edit 2nd graph than 1st graph start rendering metadata from 2nd graph and 2nd graph not rendering at all (white block). Editing metadata for 1st graph not affect on 2nd graph rendering.

[2015-04-12 23:08] sebelk opened #495 "Mermaid in presentations"
Hi it would be nice if mermaid be rendered in presentation mode too.

THanks in advance

[2015-04-16 17:58] nykh commented on #428
I have this problem too!

version v0.13.1 on Ubuntu.

[2015-04-17 02:17] jinkunw opened #496 "mathcal font not rendered"
![screenshot from 2015-04-16 22 14 54](https://cloud.githubusercontent.com/assets/8087639/7194985/4be2b23c-e486-11e4-97db-5e5eb17058ef.png)

Ubuntu 14.04 LTS

[2015-04-20 03:24] eidng8 commented on #457
Hi, I've installed v0.13.1, the issue still persists.

[2015-04-20 03:31] eidng8 opened #497 "hash sign in code blocks"
Hi, I've got a code block as below:

[code]

It works fine. Until I open the code folding feature, which reveals the issue. The hash sign is interpreted as `Header 1`. I've tried to backslash escape it, but that makes the backslash appearing in the HTML output. Well, of course it should, because stuffs in code blocks aren't supposed to be `markdown escaped`.

[2015-04-20 03:50] eidng8 commented on #486
+1

[2015-04-20 03:50] eidng8 commented on #487
+1

[2015-04-21 10:13] kjschanney opened #498 "No alphabets in menu bar"
Hi,
i am using haroopad latest version on arch linux. Everything was working fine untill i updated gnome to 3.16. Now there is no text in context menus although if i click on them they work but nothing is displaying on them. I already tried deleting every file in ~/.config/Haroopad also reinstalling but nothing works. I attached screenshot of the behaviour.
![haroopad](https://cloud.githubusercont

[2015-04-23 05:09] cyrusn opened #499 "Gantt Graph are blacken"
Hi,

All bar are black in gantt graph, you may need to set the following option

[code]

please ref: [mermaid gantt config](http://knsv.github.io/mermaid/gantt.html#configuration)

e.g. The bars in Gantt Graph are all black.

<pre>
<code class="markdown">
[code]
</code>
</pre>

[2015-04-23 05:12] cyrusn opened #500 "iframe in presentation mode"
Hi,

All iframe tag overlapped in presentation mode.

e.g.

[code]

Then this three slides overlapped.

[2015-04-23 05:34] cyrusn opened #501 "MathJax Inline problem"
Hi,

If there are `text` before the inline equation, it fails to parse as inline but paragraph

e.g. all equations will be parsed as paragraph

[code]

In the following example,  equations can be parse as inline. as no word before the inline equation.

[code]

[2015-04-23 05:41] cyrusn opened #502 "Enable Chemistry Equation in MathJax [feature req]"
Hi,

Is it possible to enable `mhchem` plugin?
ref: [mathjax mhchem](http://docs.mathjax.org/en/latest/tex.html#mhchem)

[code]

then the following code will be parsed as chemical equation

[code]

[2015-04-23 08:38] rhiokim commented on #499
Thanks for the reporting :-)
It'll be fixed with next release (v0.13.2)

[2015-04-23 08:38] #499 closed, assigned to rhiokim

[2015-04-25 15:04] sciencywolf commented on #489
I found a small hack to solve this.
Deleting the content of /usr/share/haroopad/locales fixes the problem. Haroopad's interface appears and run normally.

$ sudo rm /usr/share/haroopad/locales/*
should do it if installed with the deb package

It appears something went bad with the languages .pak files.

[2015-04-26 07:25] coiby opened #503 "Rendering Angstrom Symbol"
In Latex, `$\AA$` will be rendered as the Angstrom symbol. Unfortunately, Haroopad doesn't support it.

[2015-04-27 08:33] jeckel commented on #489
It worked ! thx ! :+1:

[2015-04-28 19:48] nykh commented on #428
It gets even more complicated with just inequality (less than "<" especially) I think it is a good idea to disable syntax highlighting inside the code block.

[2015-04-28 21:25] cesasol opened #504 "Menu text glitch with infinality"
The text in the menus are shown as dots (maybe too small text) when using the infinality patch for freetype on archlinux. This does not happen on opensuse. I would like to debug the problem but the source code here is outdated

![2015-04-28-162320_1920x1200_scrot](https://cloud.githubusercontent.com/assets/3846473/7380699/f69359c6-edc2-11e4-9f8f-ea63f38a11dd.png)

[2015-04-29 07:41] zefredz commented on #489
It worked for me too :) thx !

[2015-05-02 18:22] luboq opened #505 "cannot see chinese text in preference"
have to switch to english gui by deleting zh-CN.pak to make it normal.
fresh new install, v0.13.1, win7 x64.

---

![2](https://cloud.githubusercontent.com/assets/3130930/7442215/5829aa80-f13a-11e4-830d-662995d5d219.gif)

[2015-05-04 07:56] ZuchaoWang opened #506 "Cannot see Chinese text correctly in both editor and viewer in win7 OS"
I'm using the v13.0 English version of Haroopad. I have an md file created in Ubuntu 64bit, with many Chinese text. The file is saved in utf-8 encoding (without BOM). Everything works fine in Ubuntu Harropad. But when I open it in my win7 64bit version Haroopad, all Chinese in text lines beginning from the start or beginning with - appears as empty spaces in both editor and viewer. However, all Ch

[2015-05-08 08:07] XelaRellum opened #507 "files with special characters or spaces are opened with garbled filename"
Filenames that contain special characters or spaces are opened with short/garbled filename. This happens on Windows (specifically Windows 7)

In the registry the type "haroopad" has the shell command:
(path too haroopad)\haroopad.exe %1

When i change this too
(path too haroopad)\haroopad.exe "%1"
it works as expected.

Please consider open sourcing the installer as well.

[2015-05-09 16:29] schme16 commented on #147
Looks like some progress has been made over at: https://github.com/nwjs/nw.js/issues/332, looks like nw will have spell check as of  version 13!

[2015-05-11 02:38] rhiokim commented on #507
@XelaRellum Great thanks for the reporting.
It'll be fixed with next release.

[2015-05-11 02:57] rhiokim commented on #506
link #505

[2015-05-11 03:15] rhiokim commented on #496
Um... @jinkunw
It's work fine for me with Haroopad v0.13.2.

[code]

![issue-496](https://cloud.githubusercontent.com/assets/145777/7558064/4b660476-f7d7-11e4-9080-b7da26e8e792.gif)

[2015-05-11 03:17] rhiokim commented on #505
link: http://haroopad.userecho.com/topic/711841-chinese-characters-dont-display-in-the-edit-zone/

[2015-05-11 04:54] yurenchen000 commented on #326
current “sync scroll” is sketchy
waiting this feature
waiting the v1.0

thanks for your works

[2015-05-11 04:58] yurenchen000 commented on #442
waiting for v1.0

[2015-05-12 05:55] jack1582 commented on #505
I have the same problem. Both edit panel and preference panel .

[2015-05-12 15:13] sebelk opened #508 "Menu fonts are not shown"
Hi,

I'm using the latest version of haroopad and fonts of menu are not shown. The error when launch form console is:

[code]

any ideas about how can I fix it?

Thanks in advance

[2015-05-13 16:41] alejandrosantana opened #509 "Impossible to show some html escapes"
If you type `&lt;` or `&gt;` in haroopad, it always renders it as `<` and `>`.
In markdown, at least in this same Github message, I can escape the `&` to show the full escaped code.
This way:
`\&lt;` shows &lt;
`&lt;` shows &lt;

But in haroopad:
`\&lt;` shows \< (like if you were typing `\\&lt;`)
`&lt;` shows <

That would be the desirable behaviour in haroopad also.

[2015-05-16 03:29] ascrutae opened #510 "Two diagram in one file"
I draw two diagrams in one file, but editor only show the lastest diagram, here is the pictures.

![qq 20150516112746](https://cloud.githubusercontent.com/assets/12436447/7664522/978434c8-fbbe-11e4-8b44-e48d41c15e10.png)

[2015-05-16 03:52] rhiokim commented on #510
link #490

[2015-05-16 03:57] rhiokim commented on #509
Thanks for the reporting.
It'll be fixed with next release.

[2015-05-16 03:58] rhiokim commented on #508
link #498

[2015-05-16 04:00] rhiokim commented on #504
link #498

[2015-05-18 01:48] ascrutae opened #511 "some wrong with haroopad"
There is some wrong with haroopad, Here is my steps:
1): Open haroopad:
2): Insert the title
3): Insert  [TOC] and insert some text and '----' before [TOC].
![qq 20150518094653](https://cloud.githubusercontent.com/assets/12436447/7673284/d65be684-fd42-11e4-8a68-8e5c7f3fe8be.png)
4):Then remove the text, like this, and the problem is coming.
![qq 20150518094802](https://cloud.githubusercontent.com/

[2015-05-18 11:39] TTWShell commented on #489
Ubuntu 15.04：sudo rm /usr/share/haroopad/locales/\* can‘t work！

[2015-05-21 22:30] azhmogin commented on #496
I confirm this bug.

[2015-05-22 07:01] ascrutae opened #512 "Cannot open the link on haroopad file"
I cannot open the link on haroopad file by click the link . Is the haroopad will support it?

[2015-05-24 09:49] cefn opened #513 "Replace dialog covers found text"
When running a Find+Replace the dialog which asks if text should be replaced very often covers the text, because of the scroll logic of Find and Replace (scroll until the text is just within view at the bottom) and the positioning of the dialog (immediately above the bottom of the page).

[2015-05-24 09:54] cefn opened #514 "Find dialog forgets last searched text"
Unlike many editors, it seems impossible to "find again" which is a common part of my workflow with a text editor. After running a find, and then re-running it, the text is no longer there in the box.

This is especially difficult when using regular expression find and replace when the complex typing of the regex find and substitute text should ideally never have to be repeated once the correct sy

[2015-05-24 09:58] cefn opened #515 "Keyboard shortcuts in Menu entries"
Ideally the keyboard shortcuts for menu functions would not only be stored in a help file, but provided next to the Menu entries as well, as this provides an easy reference, as demonstrated by many mainstream applications (e.g. Firefox).

[2015-05-28 06:35] rhiokim commented on #512
Sure.
`Preferences > Viewer > General > "Make Links Clickable in Live Previewer`

[2015-05-28 06:35] #512 closed, assigned to nobody

[2015-05-28 19:01] diegoaguilar commented on #501
Any advance on this? I'm using `v0.13.1` on Ubuntu 14.04 and got same issue, too.

[2015-05-29 02:11] bb010g commented on #508
:+1:

Multiple users on Arch have been having the same problem: https://aur.archlinux.org/packages/haroopad/?comments=all

[2015-06-06 15:21] steamb23 opened #516 "문서간의 링크 기능이 추가되었으면 합니다."
마크다운으로 게임 설정같은걸 짜두고 있는데요. 문서를 각각 나누어놓고 링크를 하려고보니까 문서간의 링크가 되지 않는군요 ㅠㅠ

가능하다면 추가해주시기 바랍니다.

[2015-06-07 07:55] steamb23 commented on #516
http://haroopad.userecho.com/topic/762368-/
에 옮겨 작성 했습니다.

[2015-06-07 07:55] #516 closed, assigned to nobody

[2015-06-15 03:33] eidng8 commented on #490
@MikhailBo
A bit further, if I removed the first chart, say Ctrl+X to cut it, and then add it back (Ctrl+V), the both charts come out correctly again.

The whole edit/cut/paste process goes round and round as I keep editing :persevere:

[2015-06-15 07:31] eidng8 opened #517 "More date time format"
Though we can set the date time format in preferences. The choices are very much limited. We can't use formats such as ISO or XML.

Although adding more formats is a good way to expect, but I think provide a field for user to enter custom format is a much better approach.

[2015-06-15 07:42] eidng8 opened #518 "Problem with quotes"
While quotes (single or double) are entered, they are converted to their unicode counterparts. Mostly this is fine, except as following:

The above works fine when using the github preview. But with other preview, the `s` got pushed away to the far right of the single quote, which is undesired.

[2015-06-15 14:05] eidng8 commented on #495
+1

[2015-06-16 00:36] eidng8 commented on #147
+1

[2015-06-16 12:53] juaalta commented on #495
+1

[2015-06-18 08:46] iamunknown2 opened #519 "Haroopad Footer"
I am aware that ~~Haroopad is open source~~ wait - is it? However, whenever you export/print the Markdown, there's a watermark (footer tag) (that is easily removable):

![glitch](https://cloud.githubusercontent.com/assets/11188939/8227324/f2826ac8-15d8-11e5-92cd-aa00b6e74f31.png)

I think we should ~~provide an option (no freemium) to print/export the footer/HTML as well~~ remove the feature entir

[2015-06-23 03:52] rhiokim commented on #519
It's not big issue for Haroopad. I would remove it in the next version. :-)

[2015-06-23 11:34] ghost opened #520 "Syntax highlighting of HTML doesn't work"
My haroopad is v0.13.1 and platform is windows7_x64.
![haroopad_html_highlight](https://cloud.githubusercontent.com/assets/7036875/8304987/580d2e48-19dd-11e5-9769-0e2698fe0440.png)
Is it a bug or an unsupported feature?

[2015-06-23 11:55] juaalta commented on #520
If you look at the following link http://pad.haroopress.com/page.html?f=how-to-write-fenced-code-block to display the syntax highlighting of HTML you need to use the `xml` tag and not the `html` tag.

[2015-06-23 14:23] rhiokim commented on #520
@juaalta Thanks response. And It seems not so bad support `html` keyword for syntax highlighting in the next version.

[2015-06-23 15:27] ghost commented on #520
◑﹏◐I should learn markdown again
@juaalta thanks for your help
@rhiokim thanks for your excellent work

[2015-06-26 13:18] chesucr opened #521 "Send email to different users at once"
Is possible to send one mail to multiple users? If yes, how can I achieve that? I tried in different ways and none of them worked.

Thanks, I like the program.

[2015-06-28 05:20] rhiokim commented on #521
You can use comma.

`user1@email.com, user2@email.com`

[2015-06-29 08:27] chesucr commented on #521
OK, thanks. I tried with semicolon, instead with comma. It was obvious xD

[2015-06-29 08:27] #521 closed, assigned to nobody

[2015-07-02 09:40] bouhlry commented on #489
deletion of locales directory work like a charm for me on Windows 10 x64
thanks

[2015-07-02 11:48] naevtamarkus opened #522 "Autosave feature"
Dear devel,

I would like to kindly ask for the auto-save feature. There might be all sorts of problems (with the app and/or the computer) but, if you have an auto-saved file somewhere you are good but if not... well, you know.

Thanks!

[2015-07-03 14:19] blfunex commented on #363
i have the same problem but here is what i think is the problem: the javascript snapshot is maybe made   with a different version of nwc that the nw.exe which haroo is made of.

[2015-07-09 02:11] LanderlYoung commented on #505
I had the same experience, and i **FIXED** it in this way(this helps in ther editor area):
1. goto `C:\Users\%user%\AppData\Local\Haroopad\Themes\editor`
2. add this `font-family: "微软雅黑", "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", Helvetica, sans-serif !important;` to editor{} closure.
3. well, at last reatart your haroop pad

have fun!

Obviously, this problem is caused by some kin

[2015-07-10 02:02] BenjaminKay opened #523 "Extra white space after apostrophe."
Example markdown showing the error:

[code]

But it should have no space after the apostrophe " ' ".

![one](https://cloud.githubusercontent.com/assets/4093198/8610880/33280c96-2686-11e5-9e42-a149bfe7fc50.png)

This occurs on most but not all styles (above was **clearness dark**) but it is not triggered by the **github** style.
![two](https://cloud.githubusercontent.com/assets/4093198/8610881/3993

[2015-07-10 02:02] BenjaminKay commented on #523
![one](https://cloud.githubusercontent.com/assets/4093198/8610880/33280c96-2686-11e5-9e42-a149bfe7fc50.png)
![two](https://cloud.githubusercontent.com/assets/4093198/8610881/3993c7fa-2686-11e5-9035-681080f4b469.png)

[2015-07-13 16:20] smartdreamer commented on #518
To add on this issue, I'm using v0.13.1 (windows 7 64 bits).
The preview pane is fine, but the export to HTML shows this problem.

[2015-07-13 20:41] shelper opened #524 "TOC does not show headline level 1"
when i put a simple file as

[code]

the TOC only list level 2 headline, level one is missing...

[2015-07-19 01:57] louim opened #525 "Program failing to launch on Mac OS X"
Running most recent version `0.13.1` downloaded from Bitbucket.

Seems like it's the same issue that #489, #437 and #450.

Here is what I see in `Library/Application\ Support/Haroopad/.error/2015/07/18.log`

[code]

[2015-07-20 12:58] #519 closed, assigned to rhiokim

[2015-07-22 19:48] sebelk commented on #490
+1 Same problem on Fedora 22.

Also it "works" the following, Ctrl+a, Del, and Ctrl+z

[2015-07-31 20:36] shadowbq commented on #510
:+1:

[2015-07-31 20:38] shadowbq commented on #495
:+1:

[2015-07-31 20:44] shadowbq opened #526 "footnotes not rendering correctly"
Footnotes are not rendering on the bottom when the option is selected in 0.13.1. They just disappear

my topic I will reference [^identifier] <-- this stays

[^indentifier]: footnote for the reference <- this disappears and does not render on the bottom of the page.

[2015-08-05 03:20] shadowbq opened #527 "haroopad linux bash loader string interpolation error"
Haroopad linux file loader is failing to pass quoted names, escaped spaces, etc on the cli.

[code]

Should have double quotes:

[code]

See this stack overflow for an explanation: http://stackoverflow.com/questions/4824590/propagate-all-arguments-in-a-bash-shell-script

[2015-08-05 07:32] rhiokim commented on #527
@shadowbq :+1:  Thanks.
It'll be fixed with next version.

[2015-08-05 07:33] #527 closed, assigned to rhiokim

[2015-08-05 07:41] rhiokim commented on #520
It'll be fixed with next release.

[2015-08-05 07:41] #520 closed, assigned to rhiokim

[2015-08-05 07:42] rhiokim commented on #510
It'll be fixed with next release.

[2015-08-05 07:42] #510 closed, assigned to rhiokim

[2015-08-05 07:43] rhiokim commented on #507
link #527

[2015-08-05 07:48] #507 closed, assigned to rhiokim

[2015-08-07 21:33] sbrown-inmotion commented on #306
I'm running v0.13.1 (both Mac and Win) and am still seeing the absolute path (of images in the same folder as the markdown file) in the exported html file.

[2015-08-10 05:02] rhiokim commented on #522
Of course.
You can already use auto-save feature.

`Menu > Preference > General Tab > Checked 'Enable Last File Restore'

[2015-08-10 05:12] rhiokim commented on #524
@shelper

I has a some history.
- http://haroopad.userecho.com/topic/359034-toc/
- http://haroopad.userecho.com/topic/455504-toc-does-not-show-headers/

and look at the wikipedia articles which can be seen.

[2015-08-10 05:12] #524 closed, assigned to nobody

[2015-08-10 05:29] rhiokim commented on #525
Could you please tell me your system locale?
I found that it does not operate properly in a particular locale.

`Your Mac > System Preference > Language & Region > Preferred languages`

[2015-08-10 12:13] ascrutae commented on #510
Good, Thanks

[2015-08-17 07:40] rhiokim commented on #526
Footnotes is not default option for Haroopad. So you are try it

`Open Haroopad > Preference > Markdown > Additional options > Check Use Footnotes`

[2015-08-17 15:05] shadowbq commented on #526
Its a side effect of the GFM checkbox not rendering.

When the GFM list fails to render below a footnote example, the footnotes fail to render on the bottom.

[code]

[2015-08-17 15:07] shadowbq commented on #526
![render failure - issue 526](https://cloud.githubusercontent.com/assets/64570/9308102/1afdc26a-44d0-11e5-816e-7bf6f637954b.png)

[2015-08-17 15:08] shadowbq commented on #526
Test#2 should be rendering the footnote section but it fails to do so.

[2015-08-18 19:58] dougwaldron commented on #495
+1

[2015-08-22 03:27] rhiokim commented on #526
@shadowbq Thanks more information.
It'll be fixed with next release.

[2015-08-25 13:25] fterrier commented on #490
+1 here

[2015-08-27 08:48] burawi commented on #489
even after deleting locales the gui does not appear.
I tried to install the 32bits version and it worked

[2015-08-30 02:59] cefn opened #528 "How to run build now node package versions fixed"
How do I run Haroopad now I've successfully built it from the repository? I've tried loading the .html files within a localhost server, and running various .js files as node scripts, but so far nothing presents a Haroopad-like UI.

I Initially had a failure of npm install associated with this error, https://github.com/asciidisco/grunt-requirejs/issues/65 ...which I addressed by removing the grunt-

[2015-08-30 14:00] soulawaker opened #529 "[suggest] some text invisiblility feature"
Hi, rhiokim

I suggest some text invisibility feature.

I use haroopad to translate documents, writing an original sentence first and appending translated one second.

I need the original text visible in editor and invisible in viewer, just like CSS 'display:none' style.

I'm not sure how many people need this feature, but it'll be very useful for comparing and correcting translated text.

Regards

[2015-09-01 22:48] xordspar0 opened #530 "Overview/Recent Documents Screen"
This is a feature request. I am interested in whether this is within the scope of Haroopad.

A feature that would be useful to me would be a screen that shows recent documents graphically. It could look like the recent documents screen for LibreOffice. (see http://betanews.com/wp-content/uploads/2014/05/LibreOffice.jpg)

Furthermore, it would be nice to have a full text search feature for recent d

[2015-09-02 01:54] cnyujun opened #531 "Had opened samba network file will cause CUP and Memory increased"
**Issue:**
- Had opened samba network file will cause CUP and Memory increased

**Phenomenon:**
- Sometimes, when Haroopad had even opened a samba network files, the CPU and Memory will increased very fast and not automatically free.
- Need stop it by Windows Task Manager

**Happen in Version**
- Haroopad-v0.13.1-win-x64.msi

**Screenshots:**
![haroopad_cpu_mem_usage](https://cloud.githubuserconte

[2015-09-02 03:40] yzsatgithub commented on #492
thank u so much

[2015-09-02 08:58] chaosink commented on #492
I didn't try 'cpp' but 'c++' and 'c' before. Thank you so much!

[2015-09-04 09:54] rayeshman opened #532 "RTL languages support"
Hi!
I was going to use haroopad for my blog, but it doesn't support RTL languages.

I've used
    html,body{
        direction:rtl;
    }

in viewer's theme but this code doesn't work in editor's theme.

![2015-09-04-133651_1280x1024_scrot](https://cloud.githubusercontent.com/assets/1300531/9681029/438f9b24-5310-11e5-93a5-b082835ab2fc.png)

and there should also be a way to use LTR in middle of RT

[2015-09-09 03:05] sho-suzuki opened #533 "editor freezes when I drag a figure made from mermaid.js"
When I drag a figure that was drawn in the mermaid in the middle mouse button, editor freezes.

[2015-09-14 21:18] louim commented on #525
I have "Français" as my primary language. Secondary is "English"

[2015-09-18 15:43] ghost commented on #525
Same issue here. It works if you put "English" as primary language in OS X "preference". But "French" prevent the GUI to launch.

[2015-09-19 05:46] duoduoeeee opened #534 "Your software doesn't support Chinese very well"
When I edit a document with your HarooPad Chinese characters don't show up in the editor but they appear in the preview section.
I'm using your HarooPad in Windows7 x64.BTW in Ubuntu there is no such issue.

[2015-09-19 10:14] chesucr opened #535 "When I open a file the first time, the Haroopad window is empty"
When I open a new file with Haroopad I always get a empty file. But if I open it again (leaving the empty window open) the file is open well.

I'm working with Ubuntu v14.04. I don't know if it is a issue of my OS or it is a Haroopad problem.

Maybe it is related to my other problem that I described in [this question](http://askubuntu.com/questions/671874/when-im-trying-to-close-the-top-window-the

[2015-09-24 23:14] fan2 opened #536 "fenced code block close mistake for there is a # in the code"
the fenced code block missmatch ending for it perhaps recognize the `#`(`#import` or `#include`) as _header_? And the header afterwards have all lost format efficacy.
I try to add a `\` before the `#`, but it takes no effect as following:
![image](https://cloud.githubusercontent.com/assets/7857961/10089135/e11b5138-6352-11e5-8c5c-7843aa5048f4.png)

[2015-09-25 13:58] Blackgen commented on #363
Same Problem for me!
Was working well the first time and now it doesn't start anymore. (Win 8.1 64 bit)
On my other pc its working just fine (Win 10 64 bit)

Edit: 32 bit version isn't working as well..

[2015-09-30 20:18] soulawaker opened #537 "Square bracket link represent error in editor"
![editor_error](https://cloud.githubusercontent.com/assets/5372217/10205287/4e8ba89c-67fb-11e5-9a6a-c41c6b461a61.png)

It is no problem in viewer.

[2015-10-01 02:42] rhiokim commented on #534
duplicated #505
It'll be fixed with next release.
and you can get solution here  https://github.com/rhiokim/haroopad/issues/505#issuecomment-119784365

[2015-10-01 02:42] #534 closed, assigned to rhiokim

[2015-10-01 02:48] rhiokim commented on #505
@LanderlYoung Thanks a lot. It'll be fixed with next release.

[2015-10-01 15:12] sebelk commented on #510
+1

[2015-10-02 16:14] nykh opened #538 "update to highlight.js 8.8"
There are a few languages I would love to have syntax highlighting for but are not available now under highglight 8.0. Can you please upgrade that for the next release?

Thank you!

[2015-10-02 19:03] nykh commented on #529
How about

[2015-10-02 23:54] soulawaker commented on #529
wow! thanks! it's worked.

[2015-10-02 23:55] #529 closed, assigned to nobody

[2015-10-04 03:42] ghostlevel commented on #525
Same here on Mac OSX. I could launch it after changing the language to English. I haven't checked but i couldn't launch this version on Windows and Linux either, if that's the same problem ("Français" / French as System Language for both).

[2015-10-05 10:37] wuxinxinggg opened #539 "vim key-bind of Ctrl+v is out of use"
Ctrl+v of vim visual mode is out of use, it performed as paster of system.

[2015-10-06 16:49] steamb23 opened #540 "탐색기에서 파일을 더블클릭하여 열었을 때 8.3파일 이름으로 표시되는 문제"
Fallen Dignity.md라는 파일이 있을때,
하루패드를 정상적으로 실행후 열기를 하면 긴 이름이 적용되어 제대로 표시됩니다.
![2015-10-07 01_47_35-](https://cloud.githubusercontent.com/assets/6805899/10315467/7440f85a-6c95-11e5-8467-32bf1990303b.png)
그러나 탐색기에서 파일을 클릭하여 실행할 경우 8.3이름이 적용되어 잘려나옵니다.
![2015-10-07 01_47_46-](https://cloud.githubusercontent.com/assets/6805899/10315468/7443f24e-6c95-11e5-927e-781d08e24a49.png)

심각한 문제점은 아니지만 굉장히 거슬리게 느껴집니

[2015-10-06 16:52] steamb23 commented on #540
#430 의 두번째 코멘트에서 해당 문제점이 제기됬지만 못보고 넘어가신 듯 하네요.

[2015-10-11 20:17] UNIVAC-Colonel-Panic opened #541 "Table rendering inserts extra ">" in preview, v0.13.1"
Win 7 Pro 64bit and Fedora 21 32bit

[code]

This is how it renders here on github:

And here's how it looks in Haroopad:

   ![haroopad-extraneous-greater-than](https://cloud.githubusercontent.com/assets/492973/10418805/41f84c62-701a-11e5-96ea-f28592e3fd7a.png)

[2015-10-13 07:47] wuxinxinggg commented on #540
will you use english to descript the question and others, it's really  pained for us to understand,please.
THX

[2015-10-17 10:36] steamb23 commented on #540
sorry, wuxinxingg.
I did not consider people I do not know Korean.
I'll translate for the posts.
Note that I do not speak English well.

If there is a file called Fallen Dignity.md,
After running the Haroopad Normally, when you open a file is subject to the Long Name is displayed correctly.
However, if you click on a file in Explorer to run, this name will appear cut off of 8.3 is applied.
I hope

[2015-10-20 19:05] louis-etne opened #542 "Impossible to open on Ubuntu 15.04"
I'm trying to open the version 0.13.1 on ubuntu 15.04 but I have an issue. It seems to come Web SQLite.

[code]

Thanks for your help!

[2015-10-20 22:28] tleb commented on #542
Exact same problem here. Running xubuntu, i3wm.

[code]

[This link](https://chromium.googlesource.com/chromium/src/+/master/docs/linux_suid_sandbox_development.md) didn't help.

[2015-10-23 00:17] user4815162342 opened #543 "Can't open file if the name includes spaces"
Using Ubuntu 12.04, Haroopad 0.13.1. When I attempt to open a file from the command line whose name contains spaces, it opens up a blank, new file.

[code]

Expected the document to contain the word "test", but instead got a blank document, and when saved, prompted me for a file name defaulting to "Untitled.md". I got the same results by opening the file from a file manager.

Meanwhile, doing the

[2015-10-27 20:06] mseed opened #544 "Folding problem if block code contains #"
If "block code" contains # folding function have weird behaviour. Please ignore markdown characters # inside block code area in folding functions.

Tested on haroopad 0.13.1 (Linux)

Some ideas to implement:

Will be nice to have Tab key binded to fold/unfold function if cursor is on heading/code line.
Will be nice to have Shift + Tab for cycle toggling folding for whole document.
Will be nice to

[2015-10-28 11:31] cyrta commented on #495
+1

[2015-10-28 11:31] cyrta opened #545 "side view for folder/collection hierarchical structure"
I would like to use Haroopad as a editor to markdown wiki like PIM system.
Browsing quickly through md files in folder is not possible.
There should be a folder list side view like in Brackets or Atom, http://dillinger.io/
UI similar to simplenote/evernote etc.

[2015-10-28 11:34] cyrta commented on #380
maybe not tab but a left side view with listing of files in folder or other structure
like in :http://dillinger.io/

[2015-10-29 09:40] cuminlo opened #546 "Windows can not install?"
![tips](http://i11.tietuku.com/19021169761849b6.png)

[2015-10-29 20:44] jpereira opened #547 "Where is the debian/rules?"
Where is the debian/rules? if you have, could put in the tree?

[2015-11-04 08:13] digizeph commented on #501
Confirmed on Mac El Capitan.

[2015-11-06 07:55] micmro commented on #313
You can follow this steps to open it: http://www.iclarified.com/28180/how-to-open-applications-from-unidentified-developers-in-mac-os-x-mountain-lion

[2015-11-06 10:48] coiby opened #548 "Math in Presentation Mode"
Hi,

It would be great if Mathjax is also supported in presentation mode.

Thank you!

[2015-11-08 05:13] tomzx opened #549 "Add support for yaml headers"
Hi,

It would be great if there was support for yaml headers.

See some examples:
- http://jekyllrb.com/docs/frontmatter/
- http://rmarkdown.rstudio.com/html_document_format.html

As of now, the following

[code]

will be rendered as an _horizontal rule_ (hr) and _title: some title_ as a title.

[2015-11-08 14:05] jimtremblay commented on #542
I have the same problem. Does any of you @tleb @boopr have found a workaround?

[2015-11-08 14:19] louis-etne commented on #542
Absolulty not.. I gave up. :disappointed:

[2015-11-08 14:33] tleb commented on #542
I gave up too. :cry:

[2015-11-09 01:32] rhiokim commented on #538
updated v8.9.1.
It can be used in the next version.

[2015-11-09 01:32] #538 closed, assigned to rhiokim

[2015-11-09 02:00] rhiokim commented on #490
It'll be fixed with next release.

[2015-11-09 02:00] #490 closed, assigned to rhiokim

[2015-11-09 02:08] rhiokim commented on #489
link https://github.com/nwjs/nw.js/issues/3218

[2015-11-09 04:19] rhiokim opened #550 "Update locales"
- Polish Translation - https://github.com/rhiokim/haroopad-locales/pull/64
- Taiwanese Translation - https://github.com/rhiokim/haroopad-locales/pull/65

[2015-11-11 13:19] joey-he8x opened #551 "crash after exit from presentation mode"
crash after exit from presentation mode

tested in OSX El Capitan

[2015-11-16 08:41] cpetrov opened #552 "Support print layout view"
It would be useful to review pages layout before printing.

[2015-11-17 21:50] vdeville commented on #542
Me too same problem on Debian 8 with Cinnamon.

[code]

[2015-11-18 10:45] lucainnocenti commented on #501
Confirmed on Windows 10 with v0.13.1

[2015-11-20 04:42] choiseungho opened #553 "순수 HTML 복사하였을 때, 코드 하이라이트"
코드 하이라이트 border 문제

코드 하이라이트 안에 border: 1px solid rgb(204, 204, 204); 이 부분이 추가되서 위지웍에디터에 복사하고 나면 코드에 border가 생성 됩니다. 이 것을 제거 해주실 수 있으신가요?

![1](https://cloud.githubusercontent.com/assets/7479257/11292107/836f8cb4-8f8c-11e5-9840-6dadde7995a8.png)

[2015-11-25 01:47] SimonEast opened #554 "App fails to launch in Windows when opening existing file"
App fails to launch in Windows when I try to open an existing MD file.

![screenshot - wed 25 nov 15 12_45_04 pm](https://cloud.githubusercontent.com/assets/813734/11386082/5276fbe4-9372-11e5-8eda-3bda25a7d023.png)

The app appears to be running, but no window appears.  I have to force it closed.

![screenshot - wed 25 nov 15 12_46_47 pm](https://cloud.githubusercontent.com/assets/813734/11386107/

[2015-11-25 02:02] rhiokim commented on #554
@SimonEast Thanks reporting
Can I get the absolute file path?

[2015-11-25 02:08] rhiokim commented on #553
**Yes I can do this** :-)
It'll be fixed with next release.

[2015-11-25 05:35] SimonEast commented on #554
OK, interesting...

If I test it from the "Run" command, the first one works while the second does the same as I mentioned above (no window appears).

[code]

I wonder whether running an MD file from Explorer is not putting the quotes in for some reason.

[2015-11-28 03:37] #550 closed, assigned to rhiokim

[2015-11-29 22:06] Eucaly commented on #486
looking for this feature to fulfill, please

[2015-12-17 09:11] herohuyongtao opened #555 "Enable selection sync between editor and preview?"
It will be really helpful to sync selection between editor and preview.

Something like:
![qq 20151217171134](https://cloud.githubusercontent.com/assets/1265400/11865777/3c297fb2-a4e1-11e5-8155-37146e5c7604.png)

[2015-12-17 09:16] herohuyongtao opened #556 "Enable copy from preview?"
It will be much efficient to be able to copy texts from preview window where I can easily find what I want to copy.

[2016-01-03 23:52] khawarizmus opened #557 "Haroopad don't run"
hello
i have windows 7 64 bit and i installed Haroopad on my laptop but when lunching it nothing happen the software don't run
i tried to change the properties to run as administrator or to change the compatibility to vista but still same thing the software doesn't run
and i can see in the task manager that there is two process of haroopad working
any solution ?

[2016-01-04 13:43] a2jww opened #558 "using "width" with images doesn't work with shared links from dropbox"
Hi there
I'm using shared links from Dropbox to show dedicated pictures in my markdown documents.

But when using the following form, attributes like "width" do not seem to work:

`![](https://www.dropbox.com/s/sqnkd919j2si9ft/testpicture.jpg?dl=1 'width:100px;float:right')`

I can see the picture (in maximum size), but width isn't reduced in this case.

any wrong settings? Or is the dropbox link

[2016-01-06 18:58] stefan-niedermann commented on #442
yeah. same question here. i really can't understand you. the reason in the readme.md is very flawy.

You don't have to listen to the people. you can still focus on the project. but a closed-source binary is per definition **not trustable**. i want to be able to build the application from source code so i know what's going on.

Sorry, but without the source code, this application is not usable.

[2016-01-10 03:30] colinbate opened #559 "Support for TOML front matter"
I know there is a separate request for supporting YAML front matter which I agree is probably more popular, but [Hugo](http://gohugo.io) promotes [TOML](https://github.com/toml-lang/toml) front matter, and I've now adopted that in multiple projects.

However, I was thinking that it may be more powerful to provide some sort of transformation capability that users could tap into. Either hooks into t

[2016-01-11 04:59] hjs1543 opened #560 "이메일 보내기 안되요."
이메일을 gmail로 설정하고 하는데... 계속 sending만 하고 있음. 어디서 걸려있는지 비밀번호가 틀린 건지... 좀 자세한 내용을 보여주게 할 수 없나요. 이유가 뭘까요?  sending만 계속 반복...

[2016-01-11 19:43] nykh commented on #559
I ditto this

[2016-01-11 19:44] nykh commented on #556
second

[2016-01-16 23:33] kursion opened #561 "Windows 10"
I would love to give a try on Haroopad. I'm on windows 10 and it doesn't seem to work. Anyone has the same problem ?

[2016-01-18 04:31] #295 closed, assigned to nobody

[2016-01-19 08:36] christophe-coyard commented on #561
Yes, same problem. The process is started but the software is not displayed.

[2016-01-20 11:06] kursion commented on #561
Exactly. Would be cool to fix it then :)

[2016-01-22 07:53] brianhu-tw opened #562 "image syntax not work"
I try the syntax below  but the css not work, and it shows 『title text" "width:30px height:30px』as the title when the mouse on.

[code]

[2016-01-25 19:44] walter-weinmann commented on #561
Same problem here.

[2016-01-26 01:01] eyecatchup commented on #561
Subscribed. ;)

[2016-01-27 18:05] k1ngf15h3r commented on #561
Installed today on two Windows 10 Build 1511 devices without any problems

[2016-01-27 18:09] k1ngf15h3r commented on #484
I realized that I have a second dot in front of my toc content. I think there is no dot needed in the toc. Would be nice when it looks like a book toc and if the page number will be displayed at the right side of the headline

[2016-01-29 14:34] sebelk opened #563 "Font Awesome"
Hi,

Does Haroopad support Font Awesome?

(http://fortawesome.github.io/Font-Awesome/icons/)

Thanks in advance!

[2016-02-01 09:03] mingoal commented on #490
This is great app.
One question is when the release include this fix will be published?

[2016-02-01 18:30] ghost commented on #542
Same problem here on Ubuntu 15.10...

Wanted to try Haroopad, so I'll use Atom.

[2016-02-03 12:41] widoriezebos opened #564 "Support custom preprocessor"
It would be great to have an option to specify a pre-processor (like Marked2 has) so that markdown can be pre-processed. This opens up the possibility to have functionality in Markdown that is simply not available out of the box. A big one in this area is including other documents and link processing.

[2016-02-07 17:27] Philippe64 commented on #561
Same problem w10 x64 pro build 1511 french version

[2016-02-07 21:49] spiffytech commented on #464
How can I activate HiDPI mode? It's not working for me (Haroopad 0.13.1, Debian Jessie, Cinnamon Desktop).

![haroopad-hidpi](https://cloud.githubusercontent.com/assets/77867/12875518/7fc4fb64-cdba-11e5-836c-67e40ad42949.png)

[2016-02-09 16:28] poulpix commented on #557
Exactly the same here with W7 32 bits.

[2016-02-10 01:25] chkilel commented on #561
I installed 32 and 64 bit, both doesn't work.

[2016-02-14 01:09] jeroldhaas opened #565 "Context menu can open while application menu is open"
Suggested labels: [bug] [ui]

Steps to reproduce:
- click File in menu at top
- right click

I hadn't explored the bug enough to see if any exceptions occur with any events thereafter, however I have encountered applications in the past that have resulted in this being allowed to happen and an exception would ultimately throw.

_This could probably also be labeled as [easy] and [first-timer] if yo

[2016-02-14 01:23] jeroldhaas commented on #565
I neglected to mention release / platform information:
- I found this in the Harroopad Help and Release Notes (no About Dialog): v0.13.1
- Windows 10 x64

I am currently unable to confirm this bug on OS X.

[2016-02-17 19:07] leodutra commented on #40
C'mon guys... you really closed an important feature like this?
Developers loves to use `editor .` and `editor <filename>`.

[2016-02-18 02:14] searene opened #566 "Reload the file"
When the file was edited by another editor, the file in haroopad won't update to the lastest content. Would it be a better idea to reload the file again to the lastest content everytime it's focused?

[2016-02-18 13:38] devdrops opened #567 "[pt_BR] Locales: Found typo on menu"
On locales: the item `insert.underline` have a typo on the translation. The correct translation for `underline` is `Sublinhado`.

<img width="309" alt="captura de tela 2016-02-18 as 11 35 33" src="https://cloud.githubusercontent.com/assets/1259313/13144801/daa8d4e8-d633-11e5-88b6-d650df42c20a.png">

I'll submit a pull request for this small fix.

[2016-02-18 20:31] JihongJu commented on #554
Same problem happens to me.

[2016-02-20 06:31] rhiokim commented on #567
I'll be applied with v0.13.2

[2016-02-20 06:31] #567 closed, assigned to nobody

[2016-02-20 06:44] rhiokim commented on #563
Font Awesome does not built in Haroopad.
But you can use this. follow step.
1. Open the preference dialog <kbd>CMD</kbd>+<kbd>,</kbd>
2. Click the `Viewer` tab
3. Click the blue `Edit` button
4. Open `default.css` file
5. Insert this syntax into the file  `@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");`
6. Save and close
7. Click the `Reload` button
8.

[2016-02-20 06:55] rhiokim commented on #560
메일 전송 오류가 발생하는 현재까지 파악된 경우는 2가지입니다.
1. 하루패드 실행 이후 한번이라도 비밀번호 입력 오류가 있을 경우 **하루패드를 재 실행**해야 합니다.
   - 새로운 창을 열어서 시도해도 동일하게 메일 전송이 되지 않습니다.
2. 구글 로그인 방식을 2단계 인증을 사용하는 경우 기술적인 졔약으로 메일 기능을 이용할 수 없습니다.
   - https://myaccount.google.com/security?pli=1#signin

[2016-02-20 06:55] #560 closed, assigned to nobody

[2016-02-20 07:02] rhiokim commented on #558
Default image syntax is `![alt text](url "title")`
It's required.

Additionally Haroopad does support `style` option
So if you want to use style option, please write like this `![alt text](url "" "width:100px:float:right")`

[2016-02-20 07:02] #558 closed, assigned to nobody

[2016-02-20 07:24] rhiokim commented on #501
It'll be fixed with v0.13.2

[2016-02-20 07:24] #501 closed, assigned to rhiokim

[2016-02-20 09:27] rhiokim commented on #488
v0.13.2 릴리즈에 수정될 예정됩니다.

[2016-02-20 09:27] #488 closed, assigned to rhiokim

[2016-02-20 09:33] rhiokim commented on #483
It'll be fixed with v0.13.2

[2016-02-20 09:33] #483 closed, assigned to rhiokim

[2016-02-20 13:21] #553 closed, assigned to rhiokim

[2016-02-20 14:11] rhiokim commented on #484
@arcr-dev Thanks idea.
It'll be fixed with v0.13.2

[2016-02-20 14:12] #484 closed, assigned to rhiokim

[2016-02-20 21:21] devdrops commented on #567
Great! :+1:

[2016-02-25 20:29] valvin1 commented on #542
get the same I am using Haroopad since a lot of time and decided to update today ... unfortunately i have :

[code]

any workaround?

[2016-02-26 10:03] tleb commented on #542
I haven't got the package anymore and I gave up at the time, but have you tried using the root user to start haroopad? I can't remember what I tried.

[2016-02-26 10:29] ghost commented on #542
There is no way I run an application with root privileges just because it does not run with a standard user. Running an application with root should not be a solution of any kind.

Anyway, I'm using Atom which fits all my needs.

[2016-02-26 10:44] tleb commented on #542
I'm not trying to say the root privileges is the solution, if it works, it would just mean that there is a privilege issue, and that can help to find the problem.

[2016-02-26 17:53] ghost commented on #546
There is an issue with installing the 64-bit version 0.13.1 on Windows 7. It fails with an error message

Error writing to file:
C:\Users\ ... \object-assign.js.
Verify that you have access to that directory.

The full path of the directory in the error message is not complete as there is a ... in the middle of it. I suspect it's a directory that the installer is failing to create that it should b

[2016-02-27 10:46] rhiokim commented on #542
I've made new pkg for next release. **it's release candidate version, not official**
- https://www.dropbox.com/sh/o0gsowztbuumoig/AABcDuphGXImM_i7Vb4hPVIla?dl=0

And it was work well in pure Ubuntu 15.04/12.04/14.04LTS 64bit and 15.10 64bit

If any Haroopad processes still running after closing Haroopad?
`ps aux | grep haroopad`

Try killing them manually via their PID.
And remove `~/.config/Haroo

[2016-02-29 13:31] mtompkins opened #568 "Tasklist(GFM) not rendering (Debian)"
Using v0.13.1

![screenshot from 2016-02-29 08-27-06](https://cloud.githubusercontent.com/assets/4105910/13395756/d5096352-debe-11e5-9ee2-cdae9af7b734.png)

[2016-03-01 08:18] rhiokim commented on #561
I've made new pkg for next release. **it's release candidate version, not official**
- https://www.dropbox.com/sh/o0gsowztbuumoig/AABcDuphGXImM_i7Vb4hPVIla?dl=0

And it was work well in pure Window 7(64/32), 8(64/32) and 10(64/32)

[2016-03-01 12:08] aphirst commented on #501
Really excited to see this feature working!

[2016-03-01 12:28] aphirst commented on #424
This would be a killer feature, rather than having to use a "print to PDF" tool on the exported HTML.

[2016-03-01 15:11] rhiokim commented on #566
duplicated #488
It'll be fixed with next release

[2016-03-01 15:11] #566 closed, assigned to rhiokim

[2016-03-01 15:12] rhiokim commented on #563
Is it work for you?

[2016-03-01 15:27] rhiokim commented on #546
I've made new pkg for next release. **it's release candidate version, not official**
- https://www.dropbox.com/sh/o0gsowztbuumoig/AABcDuphGXImM_i7Vb4hPVIla?dl=0

And it was work well in pure Window 7(64/32), 8(64/32) and 10(64/32)
Could you please test for your issue?

[2016-03-01 15:35] rhiokim commented on #543
It'll be fixed with next release.

[2016-03-01 15:35] #543 closed, assigned to rhiokim

[2016-03-02 13:14] tukoz opened #569 "GLX/hardware accelerated 2D *required*?"
Hi I'm willing to try Haroopad out, being all in markdown and git atm. Haroopad's installed on my remote desktop running Arch linux; willing to launch it remotely via a well functionning X11 forward setup (_x2go_).

However when launching from the remote $TERM, no window appears on my tiny netbook and the terminal content is wiped out. Pressing <C-C> shows the following:

[code]

And when launched

[2016-03-02 13:30] tukoz commented on #569
EDIT: won't run either on the netbook which _has_ GLX 1.4. So there's possibly a mixed  issue here. Please what's yoru idea?

[code]

[2016-03-03 11:23] rhiokim commented on #525
I've made new pkg for next release. **it's release candidate version, not official**
- https://www.dropbox.com/sh/o0gsowztbuumoig/AABcDuphGXImM_i7Vb4hPVIla?dl=0

Hi there!
This package works fine for me (OS X El Capitan - Français)

[2016-03-05 00:53] rhiokim commented on #569
I have made new pkg for next release.
I can get your feedback about release candidate?
- https://www.dropbox.com/sh/o0gsowztbuumoig/AABcDuphGXImM_i7Vb4hPVIla?dl=0

[2016-03-05 13:26] tukoz commented on #569
Hi @rhiokim

Can it run on a system without GLX? E.g. there's no hardware acceleration on my main laptop (gma500). Please answer.

Now trying to launch haroopad v0.13.2 after packaging it for my Arch.

Launched from my desktop Arch x86_64 via x2go (NX client/server):

There's "something" (looks like a window) appears shortly on my local screen, then the desktop (very shortly also) and then same al

[2016-03-07 19:40] BrendonKoz commented on #546
I have been getting the same error as NevarMoar, and with the release candidate version am still receiving the error:

![error](https://cloud.githubusercontent.com/assets/194731/13580935/700f07d6-e472-11e5-8c51-b0f474c21e4f.jpg)

[2016-03-08 19:31] ghost commented on #546
I downloaded and tried the new 0.13.2 win-x64

If I accept the default install location (as shown in error messages) it
doesn't work.
If I change install to C:/bin/HarooPAD it works fine.

I didn't try changing the location with 0.13.1 yet.

... path I guess should be C:\bin\HarooPAD 😀 (I use linux at home if you
can't guess)

On Mon, Mar 7, 2016 at 2:40 PM, Brendon Kozlowski notifications@github.

[2016-03-08 21:11] ghost commented on #546
Ok, the 0.13.1 also installs if you don't use the default location.

Maybe it's a limit on how long the nested directory path can be in Windows 64.

[2016-03-09 02:42] hexmaster111 opened #570 "Table Rendering"
Tables fail to render properly, Using correct syntax
| ID | Result |
|----:|:-----------|
| 0  | Off       |
| 1  | Underline |
| 2  | Block     |
Fails to produce produces

[2016-03-09 02:53] hexmaster111 commented on #570
I was missing a carage returen my bad

[2016-03-09 02:53] #570 closed, assigned to nobody

[2016-03-09 11:07] leobut commented on #556
I would also love to have this feature.

[2016-03-12 06:37] #563 closed, assigned to nobody

[2016-03-12 07:59] gustawdaniel commented on #147
+1

[2016-03-14 12:11] vprigent opened #571 "Typo color breaking with specific chars"
When i'm typing the following :

[code]

The beginning of - Add option is on yellow, whereas everything after _ is blank.
It's the same unexpected behavior with *

I'm on OSX Yosemite with 0.13.1 Haroopad.

[2016-03-14 13:26] ljoli commented on #542
@rhiokim I can't download your rc on dropbox. Where can I found a binary ?

And do you have an binary version for UBUNTU 15.10 32 bit ?

is it possible to build project from a tarball ?

[2016-03-14 13:54] ljoli commented on #556
Hello,
You could select with right-clic of mouse and drag and drop in another word processor.

[2016-03-14 14:01] herohuyongtao commented on #556
@ljoli Yeah, it helps a lot. :+1:

[2016-03-17 16:22] teslasmoustache opened #572 "export to html as one-line file"
Sometimes I use Haroopad to make html pages. But every time I export as html, the whole thing exports as either a few really long lines, or one really _really_ long line.

Could it be set so there's a line break after each '>' for example?

[2016-03-20 20:47] jankwik opened #573 "Tab-key does not indent correctly"
For instance:

[code]

Pressing the Tab-key anywhere on the "item 1.1" should indent the bullet point - not insert a Tab-character. In addition to making multi-level lists easier to use, this behaviour is more consistent with the one shown by Shift-Tab - which un-indents the line.

[2016-03-20 20:59] jankwik opened #574 "Dialog boxes does not always open on Linux"
I have only seen this when using the MATE environment on Linux Mint Debian Edition 2 (LMDE2) - but it may be more widespread. The problem appears to affect all dialog boxes - including Print and Preferences. The first time the menu item is selected the menu closes, but nothing more happens, and the editor remains active. Selecting the same menu item once more opens the dialog.

[2016-03-21 18:44] BrendonKoz commented on #546
I'm now on Windows 10 and have tried running the installer for version 0.13.1 (x64) as well as the 0.13.2 (x64) MSI. Neither seem to work, whether installing in the default location, or in Program Files. Within program files, however, there is a different error message displayed:
![error](https://cloud.githubusercontent.com/assets/194731/13929920/f437dcb2-ef72-11e5-8812-96a9b157e55f.png)

This see

[2016-03-22 13:16] jisantuc commented on #40
If you don't have `realpath` (I didn't on OS X Yosemite) [this SO question/answer](http://stackoverflow.com/questions/3572030/bash-script-absolute-path-with-osx) is useful, though change the `$0` at the end to `$1`

[2016-03-22 19:27] leodutra commented on #40
I use Ubuntu at home and Windows 8 on my workplace.
Haroopad could work across platforms in the same simple way; as Atom.

[2016-03-24 06:14] yfyin opened #575 "haroopad windows version does not support unix formated md file"
use haroopad windows version to open unix formated markdown file, then merely save it, you will find the file is converted to dos format automatically.

that is a trouble as I have to use dos2unix tool to convert the file to unix format again under linux

[2016-03-27 08:22] rhiokim commented on #542
@ljoli I made mirror for download - https://bitbucket.org/rhiokim/haroopad-download/downloads

[2016-03-27 19:06] ljoli commented on #542
@rhiokim : OK Thanks for the link.
But one question , why the source code of haroopad is not update since 3 years ago ?

[2016-04-06 02:52] rhiokim commented on #505
Hi there

I've made new version package for next release. it's release candidate version, not official version
https://bitbucket.org/rhiokim/haroopad-download/downloads

I had tried to solve this issue many time. But I did not solve yet. Because I can't get same environment. When I changed my system local from Korea to China. At this time, it's work fine.

Could I get your feedback about this, If

[2016-04-06 02:53] rhiokim commented on #443
Hi there

I've made new version package for next release. it's release candidate version, not official version
https://bitbucket.org/rhiokim/haroopad-download/downloads

I had tried to solve this issue many time. But I did not solve yet. Because I can't get same environment. When I changed my system local from Korea to China. At this time, it's work fine.

Could I get your feedback about this, If

[2016-04-06 12:24] rubberduck203 opened #576 "Command Line Support for Exporting an HTML file"
As of version 0.12 Haroopad started supporting opening files from the CLI.
I'm proposing that we add support for exporting a markdown file to HTML from the command line, in order to support generating HTML files from markdown files as part of an automated build process.

Use Case:
As a developer,
I want to turn my ReadMe.md file into an HTML file automatically when I build my solution,
so that my

[2016-04-11 11:35] gabyx opened #577 "MathJax Config for delimiters"
Is there a way to change the delimiters for the mathjax
i search in the repo for "inlineMath" and "$$$" but did not find any settings?

Would be cool to give me a hint where I can change these delimiters, because I use different ones :)
May be add the options to the preferences =)

(very cool project!)

[2016-04-12 11:02] logoff commented on #147
+1

[2016-04-19 00:26] ingedgarmorales opened #578 "Haroopad doesnt run in win8.1-x64"
Was working well the first time and now it doesn't start anymore. (Win 8.1 64 bit)

haroopad-v0.13.1-win-x64.msi

[2016-04-19 12:48] apaugam commented on #561
@rhiokim doesn't work for me :(

[2016-04-21 01:58] penguinol opened #579 "TOC links don't work when the titles have the same name"
such as:

[code]

[2016-04-21 13:41] rhiokim commented on #579
It'll be fixed with next release

[2016-04-21 13:41] #579 closed, assigned to rhiokim

[2016-04-21 13:44] rhiokim commented on #489
It'll be fixed with next release

[2016-04-21 13:44] #489 closed, assigned to rhiokim

[2016-04-21 13:48] rhiokim commented on #480
it'll be fixed with next release

[2016-04-21 13:48] #480 closed, assigned to rhiokim

[2016-04-21 13:49] rhiokim commented on #475
It'll be fixed with next release

[2016-04-21 13:49] #475 closed, assigned to rhiokim

[2016-04-21 13:50] rhiokim commented on #525
It'll be fixed with next release

[2016-04-21 13:50] #525 closed, assigned to nobody

[2016-04-21 13:50] rhiokim commented on #450
It'll be fixed with next release

[2016-04-21 13:50] #450 closed, assigned to rhiokim

[2016-04-21 13:51] rhiokim commented on #443
It'll be fixed with next release

[2016-04-21 13:51] #443 closed, assigned to nobody

[2016-04-21 13:51] rhiokim commented on #505
It'll be fixed with next release

[2016-04-21 13:51] #505 closed, assigned to rhiokim

[2016-04-22 04:21] FindHao opened #580 "TOC function doesn't work well"
When I  typed [TOC], the catalogs doesn't appear.

[code]

But it just shows the `##` and `###`levels.

[2016-04-23 03:25] penguinol commented on #579
v0.13.2 candidate version also has this problem

[2016-04-25 12:25] pierrefevrier commented on #578
Same on Windows 7 64 bits.

[2016-04-28 21:31] RoyiAvital commented on #546
Could you offer a portable version?

[2016-04-29 01:44] seungdols opened #581 "Add function - Quick Markdown menu active constantly"
I think that perhaps I'd add in the next update.
I hope I desired function is activated by a quick guide markdown menu constantly.
I'm always look it but program shut down, I quick markdown menu click the button again.

[2016-05-03 18:11] ghost commented on #442
And with no source, can't use this on *BSD at all. For Linux only available as binary or Debian, which limits there too (I've had issues running pre-built binaries on Linux in the past if not built for specific distro). I'm sure interest would grow quicker if source was available to build on different systems now.

For me, by the time source is out, I'll have settled on something else.

[2016-05-03 22:29] ingedgarmorales commented on #578
I found that uninstall and reinstall does not help to the program runs,  but when you delete the files in `C:\Users\[your_user]\AppData\Local\Haroopad\Cache` _haroopad_ works fine again.

Could anyone confirm this?
Thanks.

[2016-05-04 20:21] frogriguez commented on #497
Any workarounds for this issue? I use hashmarks (#) in my python, R, and bash code.
A sample code block:

[code]

The hashmarks are interpreted as heading 1 (H1)

[2016-05-07 11:19] GulBroz commented on #561
@rhiokim : RC 0.13.2 is working ok on Win7 64 (fr)
v0.13.1 did **not** work (process haroopad.exe was running, but no window)

[2016-05-10 15:44] noraj commented on #561
:+1:
0.13.1 Win10 64 bits : haroopad process running but software doesn't diplay.

[2016-05-16 13:27] gautiermichelin commented on #437
Same here, not working.

[2016-05-23 09:11] cibvia commented on #561
Seems to be similar problem as #489, I had the same problem on Windows 10 french edition.
I could fix it deleting the file Path\to\Haroo Studio\Haroopad\locales\fr.pak.
It then runs the English version of the program.

[2016-05-23 19:10] cmrd-senya commented on #522
I would argue that it is what meant by autosave. Personally, I'm used to Gnote and it doesn't require any explicit actions to save the data you write. Such possibility would be pretty cool. Like optionally issue save automatically command in 3 seconds after the last change.

[2016-05-25 02:01] BenHayak commented on #454
+1

[2016-05-25 14:13] soomtong commented on #522
Thanks your information @cmrd-senya

Haroopad use internal cache system for every files. `Enable Last File Restore` feature uses it's cache that saved before if that file does not saved correctly.

That feature you said above, is not called `Autosave`. it could be named by something like seamless file management in a application. commonly these applications have own file management system and file

[2016-06-15 13:43] tdebatty commented on #430
Same problem in Linux, with Haroopad 0.13.1
Ubuntu 14.04

[2016-06-25 05:04] rhiokim commented on #580
TOC dose not contain the title(#) like TOC of any books and wikipedia docs in Haroopad.

[2016-06-25 05:04] #580 closed, assigned to nobody

[2016-06-25 06:20] rhiokim commented on #540
It'll be fix with next release.(>=v0.13.2)

[2016-06-25 06:20] #540 closed, assigned to rhiokim

[2016-06-27 17:32] ghost opened #582 "I set .md files to open with Haroopad on Windows. IF FILENAME CONTAINS SPACES it won't launch."
**Haroopad version: 0.13.1**
**OS: Windows 7**

On Windows I set Haroopad as the default program for markdown files.
When I tried opening the file `Untitled - Code Editors.md` it won't start.
Upon renaming the file to `untitled-code-editors.md` it fixed the problem.
I tried playing with the filenames a bit and I have confirmed that **the bug is caused by spaces in the filename**.

[2016-06-28 02:44] adaam commented on #299
@claudiojs  How did you do that? change the language for this program.

[2016-06-28 15:09] nickbe commented on #453
Same here. I often don't realize if haroopad is actually starting or has crashed silently since it takes so long to load. Right now it's close to not usable on windows here.

[2016-06-28 15:18] nickbe opened #583 "Haroopad is very slow especially when opening files in windows"
Currently opening Haroopad by double clicking on a markdown file in windows is close too unbearable. Every now and then I even thought it wouldn't open at all before realizing it took THAT long for haroopad to load.

This might have never come up before but using the editor on multiple computers I think the loading times are way beyond normal. I would like to suggest some optimization.

[2016-06-29 14:47] LukeShortCloud commented on #206
I would love to help contribute an official RPM spec file for compiling an RPM for Haroopad, using the latest binary from [here](https://bitbucket.org/rhiokim/haroopad-download/downloads/haroopad-v0.13.1-x64.tar.gz). Using alien is a very hacky "solution." Once you have the spec file, it's as simple as running the "rpmbuild" command on it from a Red Hat Enterprise Linux (or similar) based system t

[2016-07-01 13:09] ghost commented on #578
Doesn't start on Win 10-x64 either.

Uninstall/Reinstall doesnt help. I tried to delete Haroo's cache, doesn't work too.

I got this error log in AppData\Local\Haroopad.error

| ` Information | Description |
| --- | --- |
| Type | UncaughtException |
| Date | Fri Jul 01 2016 15:03:20 GMT+0200 (Paris, Madrid (heure d’été)) |
| Agent | Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHT

[2016-07-01 15:27] ingedgarmorales commented on #578
Hello MacGros.

Attempts to remove the files in "temp" directory.

Tell us if that has worked for you?

Greetings.

[2016-07-01 16:04] ghost commented on #578
Sadly, Nope

| ` Information | Description |
| --- | --- |
| Type | UncaughtException |
| Date | Fri Jul 01 2016 18:03:11 GMT+0200 (Paris, Madrid (heure d’été)) |
| Agent | Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/38.0.2125.104 Safari/537.36 |
| Stack | SyntaxError: Unexpected string |

[code]

| Information | Description |
| --- | --- |
| Type | Error

[2016-07-03 16:40] claudiojs commented on #299
Hi @adaam, here are the steps:
- Open the folder C:\Program Files (x86)\Haroo Studio\Haroopad\Libraries.locales;
- Rename the folder of your system language to something like "-bak" (just for precaution);
- Duplicated the folder "en" and rename it to your system language.

[2016-07-08 06:17] khodadadp opened #584 "Export to clipboard is always inactive on Linux - It is not even possible to select output from preview and copy it to clipboard"

[2016-07-08 10:14] Nikhil1618 commented on #557
Hi,
I have exactly the same problem here on a windows 7 64 bits.

[2016-07-22 19:32] mr337 commented on #147
+1

[2016-08-01 02:42] rhiokim commented on #532
- https://github.com/mohammadyounes/rtlcss

[2016-08-04 05:32] oliveagle opened #585 "two mermiad code snippets only 1 will display"
![image](https://cloud.githubusercontent.com/assets/2270205/17391336/c8c1f1d6-5a47-11e6-9c9f-71c1b219b6ee.png)

[2016-08-04 08:30] rhiokim commented on #585
It was fixed with v0.13.2-rc version (It's not released officially yet)
You can download it here - https://bitbucket.org/rhiokim/haroopad-download/downloads

[2016-08-04 08:31] #585 closed, assigned to nobody

[2016-08-05 10:40] gaelle8278 commented on #561
Thanks cibvia! I deleted the fr.pak file and now haroopad works nice on my windows 10 french edition.

[2016-08-10 13:47] TerryJung opened #586 "not change code-style in setting"
![image](https://cloud.githubusercontent.com/assets/2715781/17555914/5eb53c08-5f4c-11e6-95ef-465b0ce65403.png)

it is not change by setting. could you check it?

[2016-08-10 16:53] tom-thorne opened #587 "Synch scrolling out of whacl when using [TOC] auto generated table of contents"
In a document with a lot of headings and adding [TOC] at the top, the TOC in the preview pane is very long.

When scrolling in the editing pane, the synchronised scrolling of the preview pane therefore does not match up.

Synch scrolling should work so that the selected line in the editor and the rendered line in the preview are at the same screen level.  That would be perfect!

[2016-08-17 07:18] Jerome2606 commented on #490
+1 to include this fix as it is not fixed today

[2016-08-21 05:13] ezaca opened #588 "Sublime Keymap"
Your editor is amazing! It had become my preferred text editor for notes. I noticed you use CodeMirror as editor, and CodeMirror allows to set key maps.

I would love to change the key map to the _Sublime Text_ style, as seen in the [CodeMirror demos](https://codemirror.net/demo/sublime.html).

This option can be added to the `View` Menu or in the Editor preferences.

Note that not all shortcuts a

[2016-08-22 18:16] henriqueutsch commented on #406
+1

[2016-08-24 11:19] fchevassu commented on #557
Hello,
I also have the exact same symptoms (on Windows 7 64 bits).
Uninstalling/resinstalling Haroopad did not change anything.

[2016-08-24 17:31] Aloike commented on #557
Same here, W7 64bits...

[2016-09-06 12:16] octalempyrean opened #589 "How to change the default display mode?"
I would like to change to the default boot display only edit area
我想更改默认启动时仅显示编辑区
As follows
如下图
thanks a lot
谢谢
![](http://i.imgur.com/FWTIvqv.png)

[2016-09-09 10:12] asmfreak opened #590 "Can't write more than one mermaid diagram"

[2016-09-12 07:43] plutotree opened #591 "not continue develop?"
I love the app, , but the latest commit has been one year ago, I wonder why not continue to develop?

[2016-09-13 11:00] juaalta commented on #590
The same happens to me.

[2016-09-13 15:37] tgloriod commented on #561
Thank you cibvia, gaelle8278.

Delete C:\Users...\AppData\Roaming\Haroo Studio\Haroopad\locales\fr.pak

[2016-09-18 06:46] iefdev opened #592 "Document path menu in window title [osx]"
I'm transitioning to Haroopad from [Mou.app](http://25.io/mou/) to be able to use the same program on all computers (Linux, OS X).

The one thing I miss the most is the ability to right-click on the window title to get a menu with the document path.

![haroopad_01](https://cloud.githubusercontent.com/assets/3958664/18613371/b7d468c2-7d79-11e6-85c4-554915757cfe.png)

Makes it ease to locate the fil

[2016-09-24 14:06] hansen0730 opened #593 "New features request"
1. Github markdown format
2. Linux line end mode on Window system to avoid ^M

[2016-09-29 02:22] ohtake commented on #590
#585 fixes the issue.

[2016-10-05 16:24] RoyiAvital opened #594 "Portable Version"
Hello,
Could you please add a Portable Windows version?

It should follow the guidelines:
- Installed by ZIP file and not EXE / MSI.
- All settings are kept within the running folder of the program.
- No registry keys.
- No Administrator privileges.

One way to do it is with collaboration with [PortableApps](http://portableapps.com/).
They have a nice framework for that.
It will also increase the

[2016-10-09 07:35] wksora opened #595 "When exit presentation mode haroopad will crash on Mac Sierra"
When I press 'ESC' exit presentation mode, haroopad will crash on Mac Sierra 10.12. The content is very simple.

[crash_log.txt](https://github.com/rhiokim/haroopad/files/518162/crash_log.txt) crash log here you may need.

[2016-10-09 10:58] sixeyes commented on #573
Seconded.
Pressing COMMAND + ] is not as intuitive.

[2016-10-10 13:22] rupc opened #596 "동시에 여러 개의 마크다운 파일을 html로 변환하는 기능을 추가해주실 수 있나요?"
안녕하세요. 하루패드 편집기가 마크다운 편집에 정말 좋은 것 같아요. 인터페이스도 깔끔하고 단축키도 직관적이고 뷰어도 가독성이 뛰어나고...

그래서 많이 쓰고 있는데, 쓰고 나서 html로 변환할 때는 매번 마우스로 우클릭-변환-저장 하는 과정을 일일히 해야 한다는 점이 좀 번거롭게 느껴지네요.

개인적으로는 커맨드 라인에서 변환 기능을 지원한다면 참 좋을 것 같은데!

[2016-10-10 16:02] KasparLee opened #597 "Window resizing on selecting"
In Windows 8.1 (and in previous versions too), you can drag a window to the left or right side of the screen, then release it, and it will take up half the width of the monitor.
You can do this with Haroopad, however if you select another window and then re-select Haroopad, the window reverts to its original size.

This is definitely not an issue with Windows, because this works with every single

[2016-10-12 11:50] opt9 opened #598 "[TOC] end with dot(.)"
[TOC] tag prints dot(.) every entries, and it's annoying.

![haroopad_toc](https://cloud.githubusercontent.com/assets/192655/19309012/6d8b8d98-90bd-11e6-8c49-6db118dfdcba.png)

[2016-10-12 11:52] opt9 opened #599 "HTML exported TOC started with black bullet"
HTML exported TOC started with black bullet the 1st entry.
It's weird.

![haroopad_html_export_toc](https://cloud.githubusercontent.com/assets/192655/19309062/b2828b40-90bd-11e6-8e80-0dd5589eceaa.png)

[2016-10-17 02:29] opt9 opened #600 "PDF export support"
This is a feature request.
Would you please add the PDF export ?

[2016-10-18 02:54] lalomartins opened #601 "Custom viewer theme can't set background and text color"
Because user viewer themes are wrapped in `.markdown{}`, it's not possible to set styles for the body element. Therefore it's impossible to set the background color, the default text color, the global padding, for example.

[2016-10-24 09:10] nosamttimhcs commented on #573
I have found that the tab key indents lists sometimes, but not always.  I haven't yet been able to consistently reproduce the steps that tickle the bug.

[2016-11-04 10:01] lauhub commented on #437
Same problem: launching only shows Icon in Dock, menu bar with a menu that cannot be opened
Is this software still under development ?

[2016-11-11 16:24] wiwie commented on #463
still buggy for me in version v0.13.1 on ubuntu x64.

[2016-11-17 15:35] tlhackque commented on #575
I agree that line ending support would be helpful:
- Reading Unix .md seems to work.
- Save with Unix line endings (should omit <CR> if no <CR> was seen on input)
  Note that one use model is that the .md file lives on an SMB share, edited with haroopad on Windows.

[2016-11-17 15:39] tlhackque opened #602 "No error message when Save fails"
If a Save operation fails (e.g. due to a permission failure), no error message is reported.  This is very, very bad.

The "edited" marker does remain on the title bar, but that is not sufficient warning that work may be lost.

The error should be reported with a dialog box or other attention-getting device.

Note that permission failures are fairly common when one has to run dos2unix to correct li

[2016-11-22 16:38] sp4ghet commented on #463
Same, still getting this issue on the latest Windows x64 v0.13.1

[2016-11-23 11:44] LeonisX opened #603 "Sync between editor and preview fail, when text contains big tables"

[2016-11-29 18:27] iliyang commented on #594
I'd love to see a truly portable Windows version too!

[2016-12-14 14:25] BrendanMD opened #604 "print pdf uses incorrect glyphs"
Print to pdf (in English) uses incorrect glyphs for lower case "l", upper case "I" and underscore. The glyphs used are heavy bars.

[2016-12-16 16:04] dharasim commented on #147
+1

[2016-12-29 14:25] Sixl opened #605 "Won't uninstall on Windows 10 ()"
No uninstall option on Windows 10.

[2016-12-30 02:24] fresheneesz commented on #404
Just installed the most recent version. Same problem. Come on, this is such a huge annoyance for such a simple fix. I can't even close the window after opening it unless i move the damn window...

[2016-12-30 02:55] wukefe commented on #595
I had the same issue, but on Mac EI Capitan (v10.11.6).  Tried both Haroopad v0.13.0 and v0.13.1.  Neither worked in my case.

[2017-01-04 12:05] psiho commented on #464
same here. Linux Mint Cinnamon... show stopper for me. Everything is tiny.

SOLVED:  don't know much about NW.js but it seems to be probelm on their side. Too bad this is not mentioned in docs of haroopad but you can get it displayed correctly if you start it with:

`haroopad --force-device-scale-factor=2`

... that will manually force NW.js to scale.

[2017-01-07 20:42] wamserma opened #606 "support for ARM platforms"
Currently only binaries for Win are available. Hoping for 0.14 to show up as source here. :)

[2017-01-08 17:54] nickbe opened #607 "Is Haroopad officially still alive or dead?"
Last commit is now 2 years old.
That doesn't look good :/

[2017-01-09 13:35] hoyacom opened #608 "Copy to Clipboard as like at browser"
When we select html document at browser then past to others
It keep style .   just like that

[2017-01-12 02:13] rustbomber commented on #595
I've had the same problem.

[2017-01-14 11:44] jluttine opened #609 "Installation instructions (from source)?"
Would it be possible to provide at least some minimalistic instructions on how to install Haroopad from source? I'm interested on installing it on Linux (Parabola/Arch). Any help would be great!

[2017-01-14 11:50] jluttine commented on #417
Any news on this? I have the same issue. Or is this project dead?

[2017-01-22 01:35] searene commented on #556
Although drag and drop works, I do hope copy by `Ctrl-C` would work out of box on the preview pane because sometimes it would be a lot easier for me to just `Ctrl-C` and `Ctrl-V` instead of drag and drop.

I'm using Win10, and it seems that `Ctrl-C` does nothing on the preview pane, and I didn't find an option to copy html on the menu, `Copy Plain HTML` and `Copy Styled HTML` only give me some htm

[2017-01-26 06:39] JonasAllenCodes commented on #147
+1

[2017-01-27 11:20] juaalta commented on #147
+1

[2017-01-30 11:13] auval commented on #227
Hi, thank you for the great software!
relative link seem to work only in the view panel, but **export -> HTML** replaces the relative path with the local pc path. And **export -> Styled HTML** does nothing. (UBUNTU 16.04).

From the commit history I see that the hotfix was committed to gh-pages branch, but was never merged into the develop branch.

[2017-02-05 05:46] searene opened #610 "No WM_CLASS available"
I'm using `arch linux` and `i3wm`, and I need to get the [WM_CLASS](https://tronche.com/gui/x/icccm/sec-4.html#WM_CLASS) of haroopad to assign it to an appropriate workspace in `i3wm`.

When I was trying to get the `WM_CLASS` of `haroopad`, I couldn't find one.

[code]

But I can surely find other apps' `WM_CLASS`, for example, google-chrome's `WM_CLASS` is

[code]

The first item(`google-chrome`)

[2017-02-05 13:48] linuxtopia commented on #607
I wonder same question's answer

[2017-02-05 14:58] dotancohen commented on #417
Confirmed. The repo is gone and Haroopad cannot be installed without it.

[2017-02-06 05:42] noxware commented on #594
I need it too.

[2017-02-07 08:58] alexgalkin commented on #417
I have solved this by installing old version of lodash-builder before running npm install:

`npm install grunt-lodashbuilder@0.1.6 --save-dev`

[2017-02-08 18:31] alexgalkin commented on #607
+1, going to check source code further if no news are posted

[2017-02-09 09:21] linuxtopia commented on #607
in official [twitter](https://twitter.com/haroopad/status/803657669697380352) account he said that

so someone should make his/her own repo and rescript that great markdown editor project. It's open sourced so trained coders can make and share their own haroopad version for us :)

[2017-02-09 11:00] paxelito opened #611 "Ubuntu 16.04 freezes"
Hi,

after a recent ubuntu update I am no longer able to run haroopad. Every time I try to run it all the system freezes. I have checked within logs and I found this entry

`Feb  9 10:05:24 Haroopad.desktop[12567]: [12569:0209/100524:ERROR:browser_main_loop.cc(162)] Running without the SUID sandbox! See https://code.google.com/p/chromium/wiki/LinuxSUIDSandboxDevelopment for more information on dev

[2017-02-09 13:44] janv8000 commented on #430
I had to change the following registry key:
`HKEY_CLASSES_ROOT\haroopad\shell\open\command`
## Original
`C:\Users\username\AppData\Roaming\Haroo Studio\Haroopad\haroopad.exe %1`

## Changed (added quotes)
`C:\Users\username\AppData\Roaming\Haroo Studio\Haroopad\haroopad.exe "%1"`

[2017-02-09 13:54] nickbe commented on #607
Ok that means there'll be no more official versions.
Use VSCode instead. It's much faster than Harroo and the Markdown supports gets better and better.
I switched some time ago due to a non resolved hpad error.

[2017-02-13 04:12] seancolsen commented on #147
+1

[2017-02-16 15:56] thvasilo opened #612 "Allow scrolling beyond end of document"
Sometimes we want to be able to move down the preview or the editor window to bring it more in line with something else we are reading.

This could be as basic as bringing the editor and preview in sync manually, or generally because it's easier to read things that are near the middle of the screen vs. the bottom.

See for example Sublime text that allows for extra scrolling of a document beyond t

[2017-02-24 11:16] skjerns commented on #147
+1 pleeease

[2017-03-05 08:19] pakacy opened #613 "Mermaid cannot use classDiagram"

[2017-03-18 00:22] anti-matt-er commented on #582
I can confirm this, moreover the process starts but otherwise nothing happens.
Same Haroopad version (0.13.1), but my OS is Windows 10.

The quick workaround is simply opening Haroopad first and then using it to open said document, which is fine if you're aware of this bug and it avoids needlessly renaming the file; but if you're not aware of it then it's rather confusing as it doesn't even throw

[2017-03-20 15:24] Ataginsky commented on #363
Hi,

For me, does not start at all.
Cannot repaire, tried 32 and 64 bit versions..

Version: 0.13.1

[2017-03-23 07:39] lgyjg opened #614 "Can not open non-English named files, such as Chinese"
Hello ALL:
There is bug, that when I opend a non-English named file on ubuntu system 16.04, haroopad will open a null file.  I tried use the command to open, it show me this:
[code]
Is this project maintaining now？
Can anyone tell me how to resolve this problem?

Thanks for helping.

BR

[2017-03-26 10:36] wamserma commented on #606
closing due to: https://github.com/rhiokim/haroopad/issues/607#issuecomment-278588545

[2017-03-26 10:36] #606 closed, assigned to nobody

[2017-03-29 17:36] golgiapparatus commented on #147
Would be great to have this feature

[2017-04-13 03:48] YueLinHo commented on #613
The [upstream](https://github.com/knsv/mermaid) supports class diagram now. See https://github.com/knsv/mermaid/issues/177#issuecomment-275904799

[2017-04-14 06:34] AStupidBear commented on #594
I'm looking forward to this too.

[2017-04-18 23:55] alanmimms opened #616 "UI too tiny on HiDPI display on Ubuntu 16.04/KDE Neon"
I'm old. I have tired eyes. But I have a shiny new HiDPI monitor.

I cannot see the display from `haroopad-0.13.1-x64.deb`. It would need to be at _least_ twice as big on my display to be the same size as my UI widgets. My X11 server is configured as having 175x175 dots per inch (sorry X11 is not actually metric).

[2017-04-18 23:58] alanmimms commented on #464
Sorry to say I didn't find this issue until I created a new one: #616 .

[2017-04-19 00:01] alanmimms commented on #464
The `--force-device-scale-factor=2` solution is far from complete. The menus are way too small to hold the text they contain and the menu titles (click to show menu) are too big as well. Minor point: initial size of window is way too small.

Since Preferences window is not resizable (on KDE X11 anyway), it's way too small and effectively unusable as a result.

[2017-04-23 17:51] #582 closed, assigned to nobody

[2017-05-08 17:57] jazd commented on #576
+1

[2017-05-09 06:30] juaalta commented on #576
+1

[2017-05-15 11:04] ucasfl opened #617 "can't open a file in terminal if spaces included in the file's name"

[2017-05-15 11:07] ucasfl commented on #614
I have met the same problem as well, but maybe doesn't because the file'name is non-English

[2017-06-09 04:26] fbens commented on #455
I also encountered this problem, Chinese can not be displayed.

[2017-06-12 03:10] rubberduck203 commented on #591
See #607

[2017-06-12 13:17] #387 closed, assigned to nobody

[2017-06-25 13:53] ww1516123 commented on #600
i need too.....

[2017-06-27 08:05] tdeniau-sticky commented on #489
I switched my Linux Mint's locale and Haroopad wouldn't start with the same error as you guys.

[code]
did the trick !
Thank you ;-)

[2017-07-15 08:53] sgon00 commented on #523
I just started to use haroopad and recently encountered this issue. To workaround it, I found out you could uncheck the option `Use "smart" typographic punctuation for things like quotes and dashes` in the `Preference` --> `Markdown`. After unchecking this option and clicking `Apply`, the extra space will be gone.

[2017-08-04 17:34] jalberto opened #618 "Flatpak support"
Will be great to see Flatpak support, so it will be easier to install in Linux distros:

- http://flatpak.org/
- https://flathub.org/

[2017-08-07 09:12] My1 commented on #594
I agree to this and want this as well.

[2017-08-07 16:52] ghost commented on #147
+1 I neeeeeed it

[2017-08-09 14:05] apjyotirmay opened #619 "Menu items not displaying properly on mouse hover"
The menu item texts are not displayed when the cursor is over it (see the image below), not a big deal but a slight inconvenience.

![image](https://user-images.githubusercontent.com/8706789/29125532-85e31b0a-7d0b-11e7-8204-6d96344ec330.png)

[2017-08-11 17:46] sv-dev commented on #594
This is last what I need from this wonderful program. Editor is perfect!

[2017-08-18 07:57] ghost opened #620 "Recent files -Clear cant work"

[2017-08-29 08:35] chaosink commented on #556
Waiting for the feature...

[2017-08-30 05:44] feishengfei commented on #611
If I run haroopad from terminal, I will got the following warning messages, yes same like you
[code]
But I can use it without any problem.

[2017-08-31 00:59] e9t commented on #549
I second this :)

[2017-09-04 08:26] GeorgDangl commented on #605
Has there been any progress on this issue?

[2017-09-04 08:38] GeorgDangl commented on #605
FYI, on Windows 10, you can go to the install directory of haroopad and uninstall it via the link:
![haroopad_uninstall](https://user-images.githubusercontent.com/10274404/30018334-c3ffbece-915c-11e7-9cc2-f5f96b16c60a.PNG)

I had to manually delete the following folders, which werent removed completely:
`C:\Users\%USER%\AppData\Roaming\Haroo Studio`
`C:\Users\%USER%\AppData\Local\Haroopad`

Everyt

[2017-09-10 15:38] pklausner commented on #413
http://haroopad.userecho.com/topics/193-github-flavored-markdown-newlines-addition/ says this is a feature.  But I agree with @mv0.  This is not the desirable behaviour for old-school text editors like vi-mode.   Would it be possible to turn the "fix" into an option?  Either github-newline behaviour or original markdown behaviour from https://daringfireball.net/projects/markdown/syntax#p.

[2017-09-10 16:14] pklausner commented on #413
Actually, it **is** an option, cf Preferences > Markdown > Use Github Flavored Markdown line break.
This happens, if you fire up google before properly checking out the UI :-/
So it seems #264 also fixes this here.

[2017-09-11 12:45] contoso-eu opened #621 "Code Theme not working"
While all other features seems to work the "live code view theme" is not working. A theme can't be selected, it's not used when i click it, and it's not used if i set it under preferences.
I'm using Haroopad v0.13.1 x64 on Windows 7 professional x64.

that is frustrating because code like
[code]
and of course other code is not highlighted on the live view in their "markdown colors" like markdown s

[2017-09-30 01:51] Victor-Lv commented on #576
Yes, I want this function too.

[2017-09-30 02:14] rubberduck203 commented on #576
I would still love to see this implemented, but I've fulfilled my needs by using [Pandoc](https://pandoc.org/) to transform into HTML.

[2017-09-30 02:18] Victor-Lv commented on #576
@rubberduck203  I tried it. The style exported by pandoc isn't beautiful. I like the style of harropad better.

[2017-10-10 15:53] lehelmatyus commented on #490
+1
had to do the  Ctrl+X to cut it, and then add it back (Ctrl+V) trick @eidng8 suggested.

[2017-10-25 09:49] falko opened #622 "Can't open file from Dolphin if spaces in name"
Drag & drop works though

[2017-10-25 09:54] falko commented on #622
I added quotes in the start shellscript to make it work:
[code]

[2017-10-25 09:55] falko commented on #622
probably related to #617

[2017-11-09 08:36] cblte commented on #594
Again, this would be aswesome. And upload an non zip archive file. Most firewalls nowadays block such files.
Thanks

[2017-11-14 11:06] Mebus commented on #206
+1

[2017-11-24 14:46] mdreier commented on #575
I share the same issue. Best case would be that line endings could be configured, but the minimum requirement for me is that the line endings of unchanged lines are not touched when saving a file

[2017-12-31 15:44] salvob41 commented on #563
Thank you!
Does this work for mermaid  too?  As explained here: https://mermaidjs.github.io/flowchart.html
example:
[code]

[2018-01-03 02:26] DDCMI commented on #464
Same Problem, and @alanmimms is correct, the `haroopad --force-device-scale-factor=2` is not a good solution.
OS: Ubuntu 16.04.3
Haroopad Version: 0.13.1

[2018-02-02 09:44] riturajkaushik commented on #501
Still waiting for this fix..

[2018-02-17 20:30] apmattil commented on #147
+1 # must have feature.

[2018-03-21 20:29] houghtonap opened #623 "Exported HTML is not valid"
Haroopad setup is two column, left is markdown, right is result.

1. Generated some markdown content.
2. Right click right hand result column and select Export=>HTML.
3. Save HTML document.
4. Navigate in browser of choice to [W3C Validator](https://validator.w3.org/#validate_by_upload)
5. Upload saved HTML document.
6. Dismally view numerous errors in the generated HTML document.

[2018-03-21 20:37] houghtonap opened #624 "Exported HTML line too long"
Haroopad setup is two column, left column markdown content, right column is result.

1. Generated some markdown content in left column.
2. Right click, right column and select Export...=>HTML.
3. Save HTML document.

The HTML document contains a style tag that contains CSS and has a line length over 28,000 characters! That length is too long for some applications to handle. Suggest pretty indentin

[2018-03-21 20:42] houghtonap opened #625 "HTML generation"
Exported HTML is generated with minimal line breaks. Suggest as an enhancement to pretty style the generated HTML with appropriate indenting to make the resulting document easier to read, edit, process and find content.

[2018-03-21 20:52] houghtonap opened #626 "Malformed HTML tags with markdown code block"
Exported HTML produces malformed HTML tags when using markdown code block.

An example:
\```
Public Function abc() As Variant
\```

produces HTML:
[code]

[2018-03-21 21:16] houghtonap opened #627 "Support for Definition Lists"
Requesting support for definition lists:

label
\: description

When colon is preceded by a blank line then "description" is still indented.

Optionally, enhance so one could place multiple colons to generate more indent:

label
\: +1 indented description
\:: +2 indented description
\::: +3 indented description

[2018-03-22 11:55] houghtonap opened #628 "Mermaid diagram produces no output"
When using mermaid to produce a diagram, no diagram will be produced when there is an @ sign for the label.

Example:
\```mermaid
graph TD

title[<u>My Title</u>]
title-->FirstStep["em@w3.org"]
style title fill:#FFF,stroke:#FFF
linkStyle 0 stroke:#FFF,stroke-width:0;

FirstStep-->...
\```

**NOTE** Haroopad also renders the text in double quotes with the double quotes where as the mermaid live edi

[2018-03-28 11:09] chesucr commented on #628
Hello!! I think the development of this program was discontinued 3 or 5 years ago, check the last commits

[2018-03-28 12:33] houghtonap commented on #628
Did you mean development stopped for haroopad or mermaid? If development for haroopad stopped can you recommend another windows based markdown editor? Thanks, Andrew.
________________________________
From: chesucr <notifications@github.com>
Sent: Wednesday, March 28, 2018 7:09:50 AM
To: rhiokim/haroopad
Cc: Andrew Houghton; Author
Subject: Re: [rhiokim/haroopad] Mermaid diagram produces no output

[2018-03-29 12:14] chesucr commented on #628
Haroopad stopped. I am using [VSCode](https://code.visualstudio.com/Docs/languages/markdown). If you install it, Markdown works out of the box, with previews as well.

[2018-03-30 21:39] fanjin-z opened #629 "How to build from source?"
I really love haroopad,  it has been my default markdown editors for years. Since its official development has ceased, I plan to  work on this project. However, due to lack of documentation, I have no idea how to build from source. Anyone could help?

[2018-04-01 07:06] fanjin-z commented on #629
Create PR #630 , update package.json dependencies version

[2018-04-01 08:56] fanjin-z commented on #629
I successful build the project. But it looks far behind the released binary version.

Here is a screenshot from my build (build with grunt debug).
![screenshot from 2018-04-01 01-53-16](https://user-images.githubusercontent.com/15572906/38171506-c6c49246-354f-11e8-9ede-e536c25b575d.png)

@rhiokim Anything I did wrong?

[2018-04-03 19:12] fresheneesz commented on #522
Last file restore is not the same thing as autosave. In fact, that feature confuses the hell out of me. When I know I saved my file the last time, its super confusing for it to come up with two windows - especially since it doesn't give you any easy to read diff of their contents. I always close the restore version and hope it didn't have changes I need.

[2018-04-04 07:03] fresheneesz commented on #147
All my markdown documents are riddled with spelling fiascos : (

[2018-04-28 11:48] sathiz1993 commented on #600
+1

[2018-05-03 01:35] ghost opened #631 "blurry characters"
![screenshot from 2018-05-03 09-27-57](https://user-images.githubusercontent.com/38710044/39556751-37581ff4-4eb5-11e8-9b69-b896316b3882.png)

[2018-05-13 16:24] TomJansen opened #632 "[Feature request] New page indicator"
I almost always convert my markdown documents to pdf when I am done writing them. It is annoying when I have a markdown file that converts to a multipage PDF to first convert them to PDF and then to see that there is a new page in a paragraph that I do not want. Now I have to go back to Haroopad and insert a new page with `<div style="page-break-after: always;"></div>` and then convert it to PDF a

[2018-05-15 09:46] TomJansen opened #633 "Donation popup keeps showing up"
The donation popup keeps showing up everytime I start it and I find it pretty annoying to click on the donate button every time. I am using the latest version of haroopad on Windows 10.

[2018-05-21 13:40] feishengfei opened #634 "print to file(pdf) in haroopad(haroopad-v0.13.1-x64.deb) ubuntu 18.04 lts (bionic beaver) will exhaust memory then hang."
print to file can't work for haroopad-v0.13.1-x64.deb with ubuntu 18.04 lts, no progress bar after click (ctrl+p) and choose print to file. Free memory will be exhausted and system hang finally.

Somebody have similar problem could remark its issue.

[2018-05-24 14:59] Aisyk commented on #611
Hi,

Same error here, but it doesn't launch :
[code]

[2018-05-28 14:25] IchHabRecht commented on #573
Current shortcut for indention doesn't supprt other keyboard layouts than an English one. There is no way to indent using a German keyboard layout.

[2018-06-14 01:39] cckuok commented on #634
I got the same problem on 16.04

[2018-07-30 19:25] dewrich commented on #482
Frustrating, just downloaded this (2018) and that is still happening to me.  Time to move onto another editor.

[2018-08-18 18:10] fresheneesz opened #636 "The front page of Haroopad's website is a bad user experience"
When you go to the website, all you get is a video and a badly formatted footer. The footer has a loop link to itself in the "subscribe section" - that should be removed. And the bullet points under "View of Haroopad are outside of the purple box and it looks terrible.

But what really needs to be changed is the two buttons. The only button that works is "User" - but "User" indicates so little abo

[2018-08-18 18:13] fresheneesz commented on #636
Oh also, please get rid of that automatically scrolling image carousel on the user page. Those are the most distracting, annoying, stupid elements you can put on a page because:

* It distracts you from everything else on the page, making everything *else* hard to read
* It is hard to read itself, because it automatically changes while you're trying to look at one of the images. Making the image s

[2018-09-05 02:31] fresheneesz opened #637 "Restoring files is broken"
I have "enable last file restore" unchecked, and yet I still get restored files from time to time. Its never been clear *why* its giving me some "restored" file or what to do about it. Its not an intuitive feature at all.

[2018-09-30 22:01] jdbdrwho opened #638 "Crash on New File, Preferences, Open Previous"
"Open File" works fine. But if I try to open a previous file, or select a new file, or try to open preferences the program crashes.

I have uninstalled and reinstalled I get the same issue. Do not know what tripped it up. Works Fine on my Laptop.

64 Bit on Windows 10

If I right Click and select Preferences then I can get preferences to open.  Then if I close preferences, I can then  Open the pre

[2018-10-14 22:10] DeepSOIC commented on #638
+1, can't open Preferences.
Language defaulted to Russian, which is my OS language. I wanted to switch it to English, but cannot acces Preferences. The instant I click the menu item "Preferences", the program vanishes from the screen.

Windows 10 1803 64-bit

[2018-10-25 05:52] penguinol commented on #638
It seems this project is dead. Try typora.io, it's free and also supports math and diagrams.

[2018-12-06 07:49] thingsc opened #639 "When the file opened at the second time. The equations messed up."
I have edited some files with lots of equations.
After I saved it and reopened it.
All the equations messed up
and sometimes it shows "[Math Processing Error ]" instand.
![1](https://user-images.githubusercontent.com/27124109/49569313-8ea99f80-f96e-11e8-8fe2-14150fc29a41.png)
![2](https://user-images.githubusercontent.com/27124109/49569314-8ea99f80-f96e-11e8-8b05-02c34aa7b426.png)

[2018-12-06 07:52] thingsc commented on #639
This is the case the equations messed up.

![3](https://user-images.githubusercontent.com/27124109/49569434-e6480b00-f96e-11e8-9839-825baf50077b.png)

[2018-12-13 10:45] Glandos commented on #489
I just downloaded https://bbuseruploads.s3.amazonaws.com/rhiokim/haroopad-download/downloads/haroopad-v0.13.1-x64.deb?Signature=EV8BE6pmRmLN4KYRr9qvXDmJiL8%3D&Expires=1544698989&AWSAccessKeyId=AKIAIQWXW6WLXMB5QZAQ&versionId=null&response-content-disposition=attachment%3B%20filename%3D%22haroopad-v0.13.1-x64.deb%22

And it's still a valid issue. And a valid workaround.

[2018-12-15 15:40] mirik123 opened #640 "MathJax doesn't work"
OS: Windows Server 2016
I'm trying to add simple MathJax expression but it is not rendered at all:
![image](https://user-images.githubusercontent.com/9895557/50044711-82b98e00-0090-11e9-8969-15fc443d4a80.png)

[2019-02-06 00:32] #632 closed, assigned to nobody

[2019-02-06 00:32] #633 closed, assigned to nobody

[2019-02-06 01:06] MareoRaft commented on #246
@rhiokim Would really like a default visualization mode setting.  When I open a new document, I want it to be in "Editor" mode.  It's a dealbreaker if I need to change the mode every time I open a document.

Thanks for this creative and cool software!

[2019-02-06 11:28] mgsCatDev commented on #419
It seems not working when exporting to pdf

[2019-03-14 16:31] patrickguenther commented on #631
Having the same problem on Ubuntu. It's not really like the characters are blurry, but as if there are additional dots and pixels in between the letters. It looks as if the letters have been cropped from some sort of sprite sheet and some neighboring characters are partially shown as well. Seems to happen on all the themes I tested and on all Font sizes.

Attached is a Screenshot with higher font

[2019-04-15 12:12] michalterbert commented on #631
I have also the same issue in menu section:
![image](https://user-images.githubusercontent.com/15417117/56131677-6b2fda80-5f88-11e9-9c00-6c069c0e91ea.png)

[2019-05-03 17:53] craigpla commented on #87
What am I missing here? This is what I think is the relevant section of `~/.config/Haroopad/Themes/editor/style.css`

[code]

[2019-05-10 02:26] ghost opened #641 "when click Haroopad, it doesn't run."
I have clicked the app several times but the interface doesnot show up. and it can'y be find in the task manger.

[2019-05-11 05:03] ghost opened #642 "Use HTTPS, please purchase a SSL certificate."
I know these can be expensive, maybe reach out to the community for funding if you need to. I would be more than willing to contribute. It's just hard to take the project seriously from a security perspective regardless if you have the code posted on the site if when you go to visit the site it warns you and it's not encrypted.

[2019-05-16 07:46] Vonor commented on #642
+1 for SSL Cert
However, with LetsEncrypt it doesn't even cost money.

[2019-05-24 20:55] Math3mat1x opened #643 "Unable to load on Ubuntu 18.04.2"
Hello everyone,
When I click to open Haroopad, it does nothing. Through the terminal, I get some errors:
`[14861:0524/224902:ERROR:browser_main_loop.cc(162)] Running without the SUID sandbox! See https://code.google.com/p/chromium/wiki/LinuxSUIDSandboxDevelopment for more information on developing with the sandbox on.
[14861:0524/224902:ERROR:connection.cc(1060)] Web sqlite error 5, errno 0: datab

[2019-05-30 10:40] appleyuchi opened #644 "when I input the letter"i",there will be strange appearance on the right side"
![螢幕快照_2019-05-30_18-39-49](https://user-images.githubusercontent.com/27613483/58627679-5f1a9500-830a-11e9-8b17-58cb413ed882.png)

Under environment:
Ubuntu18.10

Thanks in advance

[2019-05-30 10:41] appleyuchi commented on #644
![螢幕快照_2019-05-30_18-39-49](https://user-images.githubusercontent.com/27613483/58627742-7fe2ea80-830a-11e9-8181-2662a4bb7977.png)

[2019-05-30 10:47] appleyuchi commented on #644
if the picture can not be open ,here's the link:
https://blog.csdn.net/appleyuchi/article/details/90703058
the letter "i"appears strange on the right.(amplify your page with CTRL+ mouse please)

[2019-05-30 10:49] appleyuchi commented on #644
if there's two letters before the letter"i",then the letter "i"appears perfect.
it's very strange.

[2019-06-13 22:32] Kholdfyre commented on #594
Still no portable version available, huh? That's ok. Mainly I wanted a portable version because the 64-bit Windows 8/10 installer won't install properly, and results only in a few error messages. I will report that issue next, but was just curious is any portable version is planned at all? :) EXCELLENT program it seems; just wish I could install it.

[2019-06-22 06:02] lalebarde commented on #415
plantuml works on the desktop too

[2019-07-31 02:57] Serbipunk opened #645 "loading slowly when I switch from other software in OS X 14.5"
This software switch takes maybe 5 seconds. But I still think it is worthy.

all in all, I am a fan of haroopad and I wish this difficulty would be solved.

[2019-08-20 22:42] juaalta commented on #629
@Fnjn  you could describe the steps you have taken to build the project?

[2019-08-20 22:58] fanjin-z commented on #629
It was more than a year ago, I don't exact remember how I did it. But I created a PR #630 with updated package.json, you may try to build it with grunt.
But the provided code is far lagged behind the release version and its no longer maintained. I suggest trying other project instead (e.g. markdonw-preview)

[2019-08-21 10:12] juaalta commented on #629
Thanks.

[2019-08-30 17:02] MasterKhatri opened #646 "[LINUX] Error while loading shared libraries: libgconf-2.so"
To fix this,
`sudo apt install libgconf-2-4`

[2019-08-30 20:12] MasterKhatri commented on #641
Hii, are you using Linux?

[2019-09-14 14:32] thino-rma opened #647 "Invalid HTML conversion `$'` in code block"
`$'` in code block produces Invalid HTML
which contains @@footer, closing body tag, closing html tag

OS: Windows 10 Pro
Version: Haroopad v0.13.1

An example : sample.md contains only 3 lines.
\`\`\`
$'
\`\`\`

exported HTML: sample.html (showing only html under body tag)
[code]

[2019-09-21 11:39] starrain1019 opened #648 "하루패드의 마크다운 문법을 정의한 소스 코드가 어디에 들어있나요?"
하루패드를 개조해서 [나무마크](https://namu.wiki/w/나무위키:문법%20도움말) 에디터를 만들 계획인데 하루패드의 마크다운 문법을 정의한 소스 코드의 위치를 알려주세요.

[2019-10-27 08:09] letian0805 commented on #495
+1

[2019-11-04 15:25] moshpirit commented on #232
That would be amazing! I wouldn't mind to donate in order to get this tbh.

[2019-11-04 16:06] moshpirit opened #649 "Any way to generate several columns in just a part of the text without using tables?"
I would like to be able to see some lists in 2 or three different columns, like in the screenshot but only for the lists. could this be possible?

![](https://i.imgur.com/mzzlx5Y.png)

[2019-11-04 16:11] moshpirit opened #650 "Hightlighs aren't being exported in the PDF even when I can clearly see it in the viewer."

[2019-11-25 04:55] fresheneesz commented on #512
@rhiokim Why is that not default?

[2019-11-29 00:01] #547 closed, assigned to nobody

[2019-12-08 03:12] #571 closed, assigned to nobody

[2020-01-06 07:01] fresheneesz commented on #637
No one wants to comment on this? After a year and a half, this is still a really big problem. It makes me worry that haroopad isn't saving my files right. Restoring files needs to come with an explanation. Or maybe just get rid of this feature.

[2020-01-13 03:42] fresheneesz opened #651 "haroopad not opening files"
When I try to open a markdown file on windows 10 (by double clicking on the file), it opens two haroopad exes, but no window comes up. I was using haroopad earlier today and now it seems to be broken. I've tried downloading the latest version and installing it. I've tried repairing my install. I even tried uninstalling it and reinstalling it. Haroopad the program can open and I can then open a fil

[2020-01-13 06:11] fresheneesz opened #652 "I'm switching to Typora"
Haroopad continues to be a buggy mess. I've enjoyed using it, but it seems like neither bug reports nor the open source process are taken seriously by the owner. So I'm now using https://www.typora.io/ and it immediately seems far superior.

[2020-01-19 01:06] dragon9783 opened #653 "haroopad 0.13.2 start failed on ubuntu 16.04"
haroopad 0.13.2 start failed on ubuntu 16.04
[code]

[2020-01-20 06:27] appleyuchi opened #654 "some error in ubuntu19.10"
(python3.7) appleyuchi@ubuntu19:~$ haroopad
[28645:0120/142505:ERROR:browser_main_loop.cc(170)] Running without the SUID sandbox! See https://code.google.com/p/chromium/wiki/LinuxSUIDSandboxDevelopment for more information on developing with the sandbox on

[2020-01-20 06:29] appleyuchi opened #655 "haroopad don't display well in ubuntu19.10"
haroopad don't display well in ubuntu19.10
![问题](https://user-images.githubusercontent.com/27613483/72703721-4872c800-3b91-11ea-8a54-c5ef9936d423.png)

[2020-01-20 06:31] appleyuchi commented on #643
It's ok in ubuntu19.10
you can use command `haroopad` to launch it

[2020-02-19 16:18] da5nsy commented on #469
This behaviour is still present.
Reproducing on Windows 10.

[2020-02-23 13:05] sevku opened #656 "error while loading shared libraries: libgobject-2.0.so.0"
Trying to launch haroopad on my Ubuntu 18.04:

[code]

after running the following command:
`sudo apt-get install libgtk2.0-0:i386 libsm6:i386`

this happens:
[code]

[2020-04-15 22:15] joeySeal commented on #656
I get the same result on 20.04 also tried to install with gdebi and no change

[2020-04-23 11:13] Dalarialus commented on #597
I'm also having this issue. I love the app, but this is a deal-breaker for me.

[2020-05-07 06:32] TheClownDE opened #657 "Is this project dead?"
It looks like there has been no development for quit some time.
Are there any plans for this project?

[2020-06-20 06:27] st3inum commented on #501
Still waiting for this fix....

[2020-06-27 06:49] appleyuchi commented on #473
this happend in 0.13.2

[2020-07-17 07:59] rohan-paul opened #658 "Ubuntu 20.04 after installing from debian package its no launching"
Hi,

If this project is still alive, its definitely not working in Ubuntu 20.04.

Downloaded the .deb file from http://pad.haroopress.com/user.html and installed it, but then its not launching.

[2020-09-09 10:20] weiss-d commented on #658
@rohan-paul, I had the same problem. Launching from terminal revealed that one dependency is missing.
Try this, solved the problem for me:
`sudo apt install gconf2`

[2020-11-12 01:00] juaalta opened #659 "Documentation on development environment conifguration and generation of binaries."
Is there the possibility that you make a manual so that whoever wants to continue with the development can do it?

The possible points would be:

* Requirements for development.
* Compilation
* Generation of binaries

[2021-02-23 12:17] moshpirit commented on #644
Same here. Too bad the project is dead :disappointed:

![This is the menu](https://i.imgur.com/r2IpFVQ.png)

![](https://i.imgur.com/XnR6IJE.png)

[2021-04-18 03:39] cpcbegin opened #660 "libgconf2 must be installed after installed haroopad from deb (Ubuntu 20.04 and Debian 11)"
haroopad does NOT work if I only install the package with the commands:
[code]
I need to install libgconf2 to run the software:
`sudo apt install libgconf2-dev`

[2021-05-01 01:33] lampeTechnidoo opened #661 "feature request: please make it possible to insert images from clipboard"
My first impression of haroopad is great. But I am missing paste an image from the clipboard or making a screenshot and pasting it.
The behaviour should be similar to github markdown.

So please add this feature in haroopad.

[2021-06-30 17:57] gituser-rk commented on #641
have this issue with 0.13.1 on Windows 10. It does'nt open a window. I can find it in task manager (two haroopad processes) after killing one, the seconnd disappears also and I can launch Haroopad
see issue  #651

[2021-12-27 06:06] #584 closed, assigned to nobody

[2022-04-05 18:09] #322 closed, assigned to nobody

[2022-04-05 18:47] #418 closed, assigned to rhiokim

[2022-05-12 10:19] C138 opened #662 "haroopad-v0.13.1-x64.deb fail to launch (Ubuntu 20.04)"
haroopad
[code]

And nothing shows up

[2022-07-05 10:15] fdelaneau commented on #437
Any news ?
I downloaded and installed the app from the official website on an M1 Mac and nothing work, exactly as described above.

[2022-07-07 15:18] viki53 commented on #437
@fdelaneau The last commit/update was 4 years ago, I'm afraid this has become abandonware…